[Unit]
Description=USTC iCourse - a popular course rating platform for USTC students
Requires=mysql.service
After=network-online.target nss-lookup.target

[Service]
Type=notify
NotifyAccess=main
User=icourse
Group=icourse
WorkingDirectory=/srv/ustc-course
ExecStart=/home/icourse/.local/bin/gunicorn -w 16 -b 127.0.0.1:3000 app:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
Restart=on-failure
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
