<script>
 function show_review_comments(review_id)
 {
   if (document.getElementById('review-'+ review_id +'-comments').style.display=="block") {
       document.getElementById('review-'+ review_id +'-comments').style.display="none";
       $('#review-comment-count-' + review_id).parent().find('span.glyphicon').addClass('grey');
       $('#review-comment-count-' + review_id).parent().find('span.glyphicon').removeClass('blue');
     }
   else {
       document.getElementById('review-'+ review_id +'-comments').style.display="block";
       $('#review-comment-count-' + review_id).parent().find('span.glyphicon').addClass('blue');
       $('#review-comment-count-' + review_id).parent().find('span.glyphicon').removeClass('grey');
   }
 }

 function get_upvote_review_elem(review_id)
 {
     var elem = $('#review-upvote-count-' + review_id);
     if (!elem) return null;
     if (elem.hasClass('in_progress')) {
       alert('Operation in progress, please try again later');
       return null;
     }
     elem.addClass('in_progress');
     return elem;
 }

 function upvote_review(review_id)
 {
     var elem = get_upvote_review_elem(review_id);
     if (!elem) return;
     elem.text(parseInt(elem.text()) + 1);
     elem.parent().attr('href', 'javascript:cancel_upvote_review("' + review_id + '")');
     elem.parent().find('span.glyphicon').removeClass('grey');
     elem.parent().find('span.glyphicon').addClass('blue');

     $.post("{{ url_for('api.review_upvote') }}", { review_id: review_id }, function(o) {
       if (typeof o.count != "undefined") {
         elem.text(o.count);
       }
       elem.removeClass('in_progress');
     }, 'json');
 }
 
 function cancel_upvote_review(review_id)
 {
     var elem = get_upvote_review_elem(review_id);
     if (!elem) return;
     elem.text(parseInt(elem.text()) - 1);
     elem.parent().attr('href', 'javascript:upvote_review("' + review_id + '")');
     elem.parent().find('span.glyphicon').removeClass('blue');
     elem.parent().find('span.glyphicon').addClass('grey');

     $.post("{{ url_for('api.review_cancel_upvote') }}", { review_id: review_id }, function(o) {
       if (typeof o.count != "undefined") {
         elem.text(o.count);
       }
       elem.removeClass('in_progress');
     }, 'json');
 }

 function reload_comments(review_id)
 {
             $.get("{{ url_for('review.show_comments') }}",
                { review_id: review_id},
                function(html) {
                    $('#review-' + review_id + '-comments').replaceWith(html);
                    $('#review-' + review_id + '-comments').show();
             }, 'html');
 }

 function submit_comment(review_id)
 {
     content = $('#review-comment-input-' + review_id).val().trim();
     if (content == '') {
         alert('请输入评论内容');
         return;
     }
     $.post("{{ url_for('api.review_new_comment') }}", {
         review_id: review_id,
         content: content
     }, function(o) {
         if (o.ok) {
             reload_comments(review_id);
         } else {
             alert(o.message);
         }
     }, 'json');
 }

 function delete_comment(review_id, comment_id)
 {
     if (!confirm('你真的要删除此评论吗？')) {
         return;
     }
     $.post("{{ url_for('api.delete_comment') }}", { comment_id: comment_id },
         function(o) {
            if (o.ok) {
               reload_comments(review_id);
            } else {
               alert(o.message);
            }
     }, 'json');
 }

 function reply_comment(review_id, reply_to)
 {
     var elem = $('#review-comment-input-' + review_id);
     elem.val('回复 @' + reply_to + ': ');
     elem.focus();
 }

 function hide_review(review_id)
 {
     $.post("{{ url_for('api.hide_review') }}", { review_id: review_id },
         function(o) {
            if (o.ok) {
               alert('屏蔽成功，请刷新页面');
            } else {
               alert(o.message);
            }
     }, 'json');
 }

 function unhide_review(review_id)
 {
     $.post("{{ url_for('api.unhide_review') }}", { review_id: review_id },
         function(o) {
            if (o.ok) {
               alert('解除屏蔽成功，请刷新页面');
            } else {
               alert(o.message);
            }
     }, 'json');
 }

 $('.review-filter-rule').each(function (index) {
     var id = $(this).attr('id')
     var prefix = 'review-filter-rule-'
     var num_id = parseInt(id.substr(prefix.length))
     var review_id = 'review-content-' + num_id.toString()
     var original_text = $('#' + review_id).html()
     console.log(original_text)
     console.log($(this).text())

     var regex_str = $(this).text()
     var regex_match_and_replace = regex_str.split('\n')
     var regex_match = regex_match_and_replace[0]
     var regex_replace = regex_match_and_replace.length == 2 ? regex_match_and_replace[1] : ''
     var regex = new RegExp(regex_match, 'g')
     var replace_text = original_text.replace(regex, regex_replace)
     $('#' + review_id).html(replace_text)
 })

 $('.review-content').each(function(index) {
     var regex = new RegExp('(脑瘫玩意|傻逼|我艹你妈|艹你妈)', 'g')
     var regex_replace = '<span data-toggle="tooltip" data-placement="top" title="本点评存在违反社区规范的内容，予以部分屏蔽" style="background:black;color:black;">请文明用语</span>'
     var replace_text = $(this).html().replace(regex, regex_replace)
     $(this).html(replace_text)
 })

 $('.teacher-review-label').tooltip()
</script>
