.form-signin {
    max-width: 330px;
    padding: 20px 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading {
    margin-bottom: 20px;
}
.form-signin .checkbox {
    margin-bottom: 10px;
    padding: 5px 0;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.modal-signin {
    width: 360px;
}
.float-right {
    float: right;
}