body {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #f3f3f3;
}

.grey {
    color: #999;
    font-size: 13px;
}

.blue {
    color: #337ab7;
}
.float-element {
    background-color: #ffffff;
    padding: 30px;
    margin: 20px 0;
}

#course-name {
    font-size: 20px;
}

.container {
    width: 75%;
}

.text-container {
    padding: 15px;
}

.comment-container {
    border-bottom: 1px #ddd dashed;
    margin: 10px 0 10px 0;
}
.user-info {
    padding: 15px 0 10px 0;
}
.glyphicon-star, .glyphicon-star-empty {
    font-size: 12px;
}
.comment-text {
    padding: 5px 0;
}
.comment-detail {
    padding: 10px 0 20px 0;
}
.glyphicon-comment, .glyphicon-thumbs-up {
    margin-left: 10px;
}
.post-time {
    margin-right: 30px;
}
.learn-status {
    margin-left: 5px;
}
.post-user {
    margin-right: 5px;
}
.btn-add-evaluation {
    float: right;
}


/* signin modal part */
.form-signin {
    max-width: 330px;
    padding: 30px 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading {
    margin-bottom: 25px;
}
.form-signin .checkbox {
    margin-bottom: 10px;
    padding: 5px 0;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.modal-signin {
    width: 380px;
}
.float-right {
    float: right;
}
.tips {
    margin: 20px 0;
    padding: 15px;
    border: 1px #ddd dashed;
    border-radius: 8px;
    font-size: 16px;
    color: #999;
}
.status-message {
    font-size: 17px;
    margin-bottom: 50px;
}