{% extends "layout.html" %}
{% block content %}

<div class="container">

  <div class="row float-element">
    <div class="row">
      <div class="col-md-8 inline-h3">
        <span class="blue h3">发布管理员公告</span>
        <hr>

        <form method="post" enctype="multipart/form-data" action="{{ url_for('admin.add_announcement_post') }}">
          {{ form.csrf_token }}
          <div class="ud-pd-sm">
	        <textarea class="form-control content-editor" name="content" rows="5"></textarea>
          </div>
          <div class="ud-pd-sm">
            <button type="submit" class="btn btn-middle btn-primary">提交</button>
          </div>
        </form>
      </div>
    </div> <!-- row -->
  </div>  <!-- float-element  -->
</div>  <!-- container -->
{% endblock %}

{% block script %}
{% include 'ckeditor.html' %}
{% endblock %}
