{% extends "layout-simple.html" %}
{% block content %}

<div class="container">
  <div class="row float-element">

    {{ error }}

<h3 class="blue">nces.cra.moe</h3>
<p>Niuwa Curriculum Evaluation System</p>
<p><em><strong>促进校内课程信息公开，帮助学生找到更适合自己的课程。</strong></em></p>
<h4 class="blue">开源</h4>
<p>评课社区基于 <a href='https://github.com/jingning42/ustc-course'>https://github.com/jingning42/ustc-course</a> 搭建，以GNU AGPL v3 协议开源，修改后的代码位于 <a href='https://github.com/SUSTech-CRA/sustech-course'>https://github.com/SUSTech-CRA/sustech-course</a>。</p>
    </div>
  </div><!-- end float-element -->
</div><!-- end container -->
{% endblock %}

{% block script %}
{% endblock %}
