{% extends "layout-simple.html" %}
{% block content %}

    <div class="container">
        <div class="row float-element">

            {{ error }}

            <h3 class="blue">XJ课评</h3>
            <hr>
            <div class="dark-grey desktop-width75">
                <div class="ud-pd-sm">
                    <h4 class="blue">简介</h4>
                    <p>欢迎来到XJ课评！目前，有 {{ num_users }} 位小伙伴们为 {{ course_count }}
                        门课程贡献了 {{ review_count }} 篇点评。</p>
                    <p>你可以点评课程、获取课程信息</p>
                </div>
                <div class="ud-pd-sm lh-lg">
                    <h4 class="blue">特色</h4>
                    <ul class="list-unstyled">
                        <li>1. 课程名录齐全，包含全校
                            <stong>所有</stong>
                            课程
                        </li>
                        <li>2. ~200选修课有<strong>成绩分布</strong>、最高、最低、平均分信息</li>
                        <li>2. 250+选修课有<em>评价</em>信息</li>
                        <li>2. 300+选修课有考核方式、授课模式、课程内容简介、使用教材及参考书信息</li>
                    </ul>
                </div>

                <div class="ud-pd-sm">
                    <h4 class="blue">希望解决的痛点问题</h4>
                    <p>
                        每个老师都有自己的风格，每一门课也有自己的特点；没有最好的课程，只有哪些课程更适合自己。可是，每学期初选课的时候都很头疼耶！不仅不知道任课老师是不是自己喜欢的类型，连这门课大概要学哪些内容我都不知道。然而选课时间有限（一般只有三周），不足以判断是否应该选这门课、或者这个老师的课，而且开始上课之后再换班也影响上课效果（你总不可能把所有老师的第一节课都上一遍吧？可是有些老师只在第一节课介绍课程情况），教务系统课程信息形同虚设，问学长学姐也不一定靠谱（每个人的喜好不同啊！），选课特么是一件很烦人的事情耶！而且选坑课了以后，错过时间还不能退课，我就经常遇到这种情况，直接影响学习热情。
                        <br>
                        <br><strong>不，选课不应该这么困难！</strong>
                        <br>
                        <br>因此我们希望做一个校内的课程信息的分享平台，这里不仅提供课程的简要信息（如时间、地点），更重要的提供课程评价。同学们可以在这里分享自己对课程的了解，更可以通过看其他人的点评来更好的选择自己的课程。
                    </p>
                </div>

                <div class="ud-pd-sm">
                    <h4 class="blue">愿景</h4>
                    <p>促进校内课程信息公开，帮助学生找到更<strong>适合</strong>自己的课程，从而提高学习收获。</p>
                </div>


                <div class="ud-pd-sm">
                    <h4 class="blue">开发团队</h4>

                    <p><em>XJ课评</em>由XJTU<strong>学生</strong>基于科大评课社区二次开发，
                        代码开源在：<a href="https://github.com/xjtumen/course-review"
                                             target="_blank">https://github.com/xjtumen/course-review</a>。
                    </p>
                </div>


                <div class="ud-pd-sm">
                    <h4 class="blue">交流平台</h4>
                    <p><a href="https://xjtu.live" target="_blank">https://xjtu.live</a></p>
                </div>

{#                <div class="ud-pd-sm">#}
{#                    <h4 class="blue">XJTU.MEN Telegram channel</h4>#}
{#                    <p><a href="https://t.me/xjtumen" target="_blank">https://t.me/xjtumen</a></p>#}
{#                    <p><img src="/static/image/telegram_channel.jpg" width="40%"/></p>#}
{#                </div>#}

{#                <div class="ud-pd-sm">#}
{#                    <h4 class="blue">XJTU.MEN Mastodon</h4>#}
{#                    <p><a href="https://m.xjtu.men" target="_blank">https://m.xjtu.men</a></p>#}
{#                </div>#}

                <div class="ud-pd-sm lh-lg">
                    <h4 class="blue">联系我们</h4>
                    <ul class="list-unstyled">
                        <li>1.
                            如果我们提供的信息有偏差：如课程信息上的错误、老师的头像不对，或者用户信息不对，或者课程不全
                        </li>
                        <li>2. 如果你对我们的社区有什么想法或者建议</li>
                        <li>3. 如果你发现我们的网站有bug或者漏洞，或者发生故障</li>
                        <li>4. 如果你看到社区里有不当言论（侮辱、攻击、色情、广告等）</li>
                        <li>5. 如果你是老师，你愿意给我们平台提供更多自己的课程信息（如课程简介）</li>
                        <li>6.
                            如果你是老师，你觉得我们平台上自己的头像太丑，想要给我们发自己的头像（好的头像能吸引更多学生报你的课哟！），或者你不希望我们平台使用您的照片作为头像
                        </li>
                    </ul>
                    <p>
                        都欢迎加入评课社区用户群（见上）。<strong>对于比较紧急的问题，例如网站bug、漏洞、网站无法访问等，请在<a href="https://xjtu.live" target="_blank">xjtu.live</a>联系admin。</strong>
                    </p>
                </div>

{#                <div class="ud-pd-sm">#}
{#                    <h4 class="blue">网站二维码（欢迎分享）</h4>#}
{#                    <p><img src="/static/image/xjtumen.qr.png"/></p>#}
{#                </div>#}

            </div>
        </div><!-- end float-element -->
    </div><!-- end container -->
{% endblock %}

{% block script %}
{% endblock %}
