{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="row float-element">

    <h3 class="blue">{{ _('绑定学号') }}</h3>
    <hr>
    <div class="tips">
      <p class="text-muted">说明：本操作将绑定账号与个人学号，绑定后个人主页会显示学过的课程，并且他人也能看到你学过课程。</p>
    </div>
    
    {% if error %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>{{ _('出错了！') }}</strong> {{ error }}
    </div>
    {% endif %}
    {% if user.info %}
    <p class="text-warning">{{ _('你已经绑定了学号：<b>%(sno)s</b>。确定要修改吗？',sno=user.info.sno) }}</p> 
    {% endif %}

    <form class="form-horizontal ud-pd-md" method="post" >
        <input  hidden name="csrf_token" value="{{ csrf_token() }}">

      <div class="form-group">
          <label class="col-sm-1 control-label">{{ _('用户名') }}</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" value="{{ user.username }}" name="username" disabled>
        </div>
      </div>

      <div class="form-group">
          <label class="col-sm-1 control-label">{{ _('学号') }}</label>
        <div class="col-sm-4">
            <input type="text" name='sno' class="form-control" >
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-2">
            <button type="submit" class="btn btn-blue btn-block">{{ _('绑定') }}</button>
        </div>
      </div>
    </form>


  </div> <!-- end float-element -->
</div> <!-- end container -->

{% endblock %}
