{% extends "layout-simple.html" %}
{% block content %}

<div class="container">
  <div class="row float-element">

    {{ error }}

    <h3 class="blue">社区规范</h3>
    <hr>
    <div class="dark-grey desktop-width75">
      <div class="ud-pd-sm"><span class="text-muted">更新于 2022年3月23日</span></div>
      <div class="ud-pd-sm lh-lg">
        <h4 class="blue">社区介绍</h4>
        <p>USTC 评课社区是面向中国科大学生的课程评价网站。</p>
        <p>网站上的课程信息和点评都是可公开访问的，但只有登录账号后才可以发布新内容。只有拥有科大邮箱的学生或教师才可以注册账号。注册并登录账号后就可以执行点赞、写点评、回复点评、设置账号信息等操作，并将拥有个人主页。教师也可以注册账号和发表点评，但其个人主页会标注该账号身份为老师。</p>
        <p>我们不会公开用户的邮箱和学号信息。但你设置的公开账号信息、发表的言论等仍然可能泄漏你的真实身份。请注意保护个人隐私。</p>
      </div>

      <div class="ud-pd-sm lh-lg">
        <h4 class="blue">什么样的内容是合适的？</h4>
        <p>我们重视用户的言论自由。只要你发表的内容不属于被禁止的类型，我们都不会予以干涉。但我们希望以下建议能够帮助你写出更好的课程点评：</p>
        <ul>
          <li><b>专注于学习课程的体验：</b>本站的主题是课程评价，请不要发表与课程不直接相关的内容（如对教师与课堂无关的行为的评论）。</li>
          <li><b>分享你自己的经历：</b>你只应该点评自己上过的课程，不要转发道听途说的消息。请诚实地分享自己对课程的看法，不要受到其他评论的影响。</li>
          <li><b>从多个方面评价课程：</b>不要仅仅关注给分好坏，尝试从课程难度、教学方法、学习收获等其他方面评价课程的质量。</li>
          <li><b>使用具体而直白的语言：</b>不规范用语（如网络用语、谐音、绰号等）以及晦涩的修辞（如隐喻、讽刺等）容易造成他人理解困难甚至误解。</li>
          <li><b>避免情绪化的言论：</b>情绪化的语言会偏离读者的注意力，使本应传达的具体内容被忽视。而愤怒的情绪往往导致冒犯性言论，有时我们不得不删除明显具有危害性的内容。</li>
        </ul>
      </div>


      <div class="ud-pd-sm lh-lg">
        <h4 class="blue">什么样的内容是禁止的？</h4>
        <p>一些公认的有危害的言论会被屏蔽或删除，这包括：</p>
        <ul>
          <li><b>仇恨言论：</b>针对特定个人或群体的侮辱、歧视性言论，煽动暴力行为的言论等。</li>
          <li><b>侵犯个人隐私的内容：</b>未经当事人允许，散布其个人隐私，包括联系方式、证件号码、生活经历、财产状况等。</li>
          <li><b>侵犯他人知识产权的内容：</b>未经许可，转载或上传受版权保护的文章、电子书等。</li>
          <li><b>经行政或司法机关认定违反法律法规的内容。</b></li>
        </ul>   
        <p>一些严重偏离本站主题的内容也可能被屏蔽或删除，这包括：</p>
        <ul>
          <li><b>暴力或成人内容：</b>可能造成强烈感官和精神刺激的血腥、暴力、色情和性暗示等内容。</li>
          <li><b>政治敏感内容：</b>相关法律法规禁止讨论的政治敏感话题。</li>
          <li><b>商业广告：</b>本站禁止一切形式的商业广告。</li>
        </ul>   
      </div>

      <p>我们没有专业的内容审核团队，不会对用户内容做事前审查。如果你认为某条点评或回复属于受到禁止的类型，希望我们予以屏蔽，请按照<a href="/report-review/">投诉点评的流程</a>联系我们。</p>

    </div>
  </div><!-- end float-element -->
</div><!-- end container -->
{% endblock %}

{% block script %}
{% endblock %}
