<div class="container" id="footer">
    <div class="ud-pd-sm">
      <a class="right-pd-md" href='/about/'>关于我们</a>
      <a class="right-pd-md" href='/community-rules/'>社区规则</a>
      <a class="right-pd-md hidden" href='/copyright/'>版权与隐私</a>
      <a class="right-pd-md hidden" href='/report-bug/'>发现漏洞</a>
      <span class="float-right hidden">
        <a class="right-pd-sm">中文</a>
        <a class="left-pd-sm">English</a>
      </span>
    </div>
    <span class="footer-text text-muted">Copyright &copy; 2021 USTC评课社区</span>
</div><!-- end container -->
