<div class="container" id="footer">
    <div class="ud-pd-sm">
      <a class="right-pd-md" href='/about/'>关于我们</a>
      <a class="right-pd-md" href='/community-rules/'>社区规范</a>
      <a class="right-pd-md" href='/report-review/'>投诉点评</a>
      <a class="right-pd-md" href='/community-rules/'>社区规则</a>
        <a class="right-pd-md" href='https://github.com/SUSTech-CRA/sustech-course'>Github Repo</a>
      <a class="right-pd-md" href='/stats/'>站点统计</a>
      <a class="right-pd-md hidden" href='/copyright/'>版权与隐私</a>
      <a class="right-pd-md hidden" href='/report-bug/'>发现漏洞</a>
      {% if current_user.is_admin %}
      <a class="right-pd-md" href='{{ url_for('admin.set_banner') }}'>Banner设置</a>
      {% endif %}
      <span class="float-right hidden">
        <a class="right-pd-sm">中文</a>
        <a class="left-pd-sm">English</a>
      </span>
    </div>
    <span class="footer-text text-muted">Copyright &copy; 2022 Niuwa Curriculum Evaluation System</span>
</div><!-- end container -->
