{% extends "layout-simple.html" %}
{% block content %}

<div class="container">
  <div class="row float-element">

    {{ error }}

    <h3 class="blue">社区介绍与规范</h3>
    <hr>
    <div class="dark-grey desktop-width75">
      <div class="ud-pd-sm">
        <h4 class="blue">社区介绍</h4>
        <ul class="list-unstyled lh-lg">
          <li>1. USTC评课社区是科大学生的课程评价社区，因此，只有拥有科大邮箱的同学或老师才可以注册账户。</li>
          <li>2. 登录账户以后才可以执行点赞和写点评的操作，这样可以有效避免同学们刷赞，也可以提高社区质量。</li>
          <li>3. 注册账号后将拥有个人主页（有个人简介、点评、关注、学过课程），也可以设置账户信息。</li>
          <li>4. 个人主页的学过课程，只有在社区账号绑定学号之后才能显示，同时他人也能看到你学过的课程。</li>
          <li>5. 不管绑定学号与否，用户学号、邮箱都不会对外公开，不要担心因为写点评而被老师认出来。</li>
        </ul>
      </div>

      <div class="ud-pd-sm lh-lg">
        <h4 class="blue">社区规范</h4>
        <ul class="list-unstyled">
          <li>1. 我们鼓励同学们在这里写点评，分享自己对课程的了解。</li>
          <li>2. 写点评时，希望大家用词文明，给他人提供有效的信息。</li>
          <li>3. 社区禁止一切形式的人身攻击、侮辱、挑衅及违反相关法律政策的内容，禁止发布政治敏感话题，如有类似情况发生，管理员可视情况删除相关的帖子及回复。</li>
          <li>4. 禁止发布广告信息，发现广告信息管理员有权删除并封号。</li>
        </ul>
      </div>


      <div class="ud-pd-sm">
        <h4 class="blue">联系我们</h4>
        <p>有任何想法与建议，欢迎加入评课社区用户群或邮件联系我们。<a href="/about">戳这里</a>看更多关于我们的信息。</p>
        <p>邮箱：service@icourse.club</p>
      </div>

      <div class="ud-pd-sm">
        <h4 class="blue">评课社区用户群</h4>
        <p>QQ 群：436795941
        <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=c40bca86264f101f6aaec548f2cfda1115e6340fa36e4e27827d3cbe1ab7437b"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="USTC评课社区" title="USTC评课社区"></a>
        </p>
        <p><img src="/static/image/icourse.qq-group.png" /></p>
      </div>

    </div>
  </div><!-- end float-element -->
</div><!-- end container -->
{% endblock %}

{% block script %}
{% endblock %}
