{% extends "layout-simple.html" %}
{% block content %}

<div class="container">
  <div class="float-element">

    {{ error }}

    <h3 class="blue">版权与隐私</h3>
    <hr>
    <div class="dark-grey" style="width: 75%">
      <div class="ud-pd-sm">
        <h5 class="blue">简要说明</h5>
        <p></p>
      </div>

      <div class="ud-pd-sm">
        <h5 class="blue">课程信息</h5>
        <p></p>
      </div>

      <div class="ud-pd-sm">
        <h5 class="blue">教师头像</h5>
        <p></p>
      </div>


      <div class="ud-pd-sm">
        <h5 class="blue">联系我们</h5>
        <p>邮箱：service@icourse.club</p>
      </div>

    </div>
  </div><!-- end float-element -->
</div><!-- end container -->
{% endblock %}

{% block script %}
{% endblock %}
