{% extends "layout.html" %}
{% block content %}

<div class="container">

  <div class="float-element">
    <div class="row">
      <div class="col-md-8 inline-h3">
        <span class="blue h3">{{ course.name }}</span><span class="h3 blue mobile">（{{ course.teacher.name }}）</span>
        <span class="small grey align-bottom left-pd-sm desktop">学期：{{ course.term_display }} &nbsp;课堂号：{{ course.cno }}</span>
        <br><span class="small grey align-bottom mobile">学期：{{ course.term_display }} &nbsp;课堂号：{{ course.cno }}</span>
        <hr>
        {% if course.review_count %}
        <div class="ud-pd-sm blue">
          <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true"></span>
          {% if course.rate.average_rate > 2 %}
          <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true"></span>
          {% else %}
          <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true"></span>
          {% endif %}
          {% if course.rate.average_rate > 4 %}
          <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true"></span>
          {% else %}
          <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true"></span>
          {% endif %}
          {% if course.rate.average_rate > 6 %}
          <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true"></span>
          {% else %}
          <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true"></span>
          {% endif %}
          {% if course.rate.average_rate > 8 %}
          <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true"></span>
          {% else %}
          <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true"></span>
          {% endif %}
          <span class="rl-pd-sm h4">{{ course.rate.average_rate }}</span><span class="rl-pd-sm text-muted">({{ course.review_count }}人评价)</span>
        </div>
        <ul class="text-muted list-inline list-unstyled ud-pd-sm">
          <li class="right-mg-lg">课程难度：{{ course.rate.difficulty }}</li>
          <li class="right-mg-lg">作业多少：{{ course.rate.homework }}</li>
          <li class="right-mg-lg">给分好坏：{{ course.rate.grading }}</li>
          <li class="right-mg-lg">收获大小：{{ course.rate.gain }}</li>
        </ul>
        {% else %}
        <div class="ud-pd-sm blue">
          <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true"></span>
          <span class="rl-pd-sm h4"><span class="text-muted px12">还没有人评价此课程</span>
        </div>
        <ul class="text-muted list-inline list-unstyled">
            <li class="right-mg-lg">课程难度：你猜</li>
            <li class="right-mg-lg">作业多少：你猜</li>
            <li class="right-mg-lg">给分好坏：你猜</li>
            <li class="right-mg-lg">收获大小：你猜</li>
        </ul>
        {% endif %}

        <table class="table table-condensed no-border">
          <tr>
            <td><strong>学科类别：</strong>{{ course.course_major }}</td>
            <td><strong>开课单位：</strong>{{ course.dept }}</td>
          </tr>
          <tr>
            <td><strong>课程层次：</strong>{{ course.course_level }}</td>
            <td><strong>周学时：</strong>{{ course.hours_per_week }}</td>
          </tr>
          <tr>
            <td><strong>评分制：</strong>{{ course.grading_type }}</td>
            <td><strong>学分：</strong>{{ course.credit }}
              <span class="float-right"><a href="http://mis.teach.ustc.edu.cn/gradkcjs.do?kcid={{ course.kcid }}" target="_blank">更多信息</a><span></td>
          </tr>
          </tbody>
        </table>

        <p>课程主页：暂无</p>

        <div class="ud-pd-md">
          <button class="btn btn-blue btn-flat" type="submit">关注 <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button>
          <button class="btn btn-blue btn-flat" type="submit">推荐 <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></button>
            <button class="btn btn-blue btn-flat" type="submit">不推荐 <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></button>
              <span class="float-right" style="display: none" target="_blank"><a>查看同班同学</a></span>
        </div>



        <div class="solid ud-pd-md inline-h3">
          <span class="blue h3">点评</span>
          {% if current_user.is_authenticated() %}
          <a type="button" href="{{ url_for('review.new_review',course_id=course.id) }}" class="btn btn-white float-right blue"><span class="glyphicon glyphicon-pencil glyphicon-sm right-pd-sm" aria-hidden="true" ></span>写点评</a>
          {% else %}
          <a type="button" data-toggle="modal" data-target="#signin" class="btn btn-white float-right blue"><span class="glyphicon glyphicon-pencil glyphicon-sm right-pd-sm" aria-hidden="true"></span>写点评</a>
          {% endif %}
        </div>

        {% if course.review_count == 0 %}
        <div class="tips">
          <p>还没有评论耶！放着我来！</p>
        </div>
        <div class="ud-pd-md"></div>
        {% else %}
        {% for review in course.reviews %}
        <div class="ud-pd-md dashed" id={{review.id}}>
          <div class="ud-pd-sm">
            <a href={{ url_for('user.view_profile', user_id=review.author.id) }}><span class="right-pd-sm px16">{{ review.author.username }}</span></a>
            <span class="glyphicon glyphicon-star blue" aria-hidden="true" ></span>
            <span class="glyphicon glyphicon-star blue" aria-hidden="true" ></span>
            <span class="glyphicon glyphicon-star blue" aria-hidden="true" ></span>
            <span class="glyphicon glyphicon-star-empty blue" aria-hidden="true" ></span>
            <span class="glyphicon glyphicon-star-empty blue" aria-hidden="true" ></span>
          </div>
          <div class="ud-pd-sm">
            <p>{{ review.content|safe }}</p>
          </div>

          <div class="grey">
            <span class="small">{{ review.publish_time }}</span>
            <span class="glyphicon glyphicon-thumbs-up blue left-pd-lg" aria-hidden="true" ></span> {{ review.upvote_count }}
            <span class="glyphicon glyphicon-comment blue left-pd-md" aria-hidden="true"></span> {{ review.comment_count }}
            <a href="javascirpt:void(0)"  class="rDel">Delete</a>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>

      <!-- just for debug 
      {{ course_rate.difficulty }}
      {{ course_rate.homework }}
      {{ course_rate.grading }}
      {{ course_rate.gain }}
      {{ course_rate.rate }}
      {% for review in reviews %}
      {{ review.difficulty }}
      {{ review.homework }}
      {{ review.grading }}
      {{ review.gain }}
      {{ review.content }}
      {{ review.author.username }}
      {{ review.author.email }}
      {% endfor %}
      -->



      <!-- 右边栏 -->

      <div class="col-md-4 rl-pd-lg">
        <div class="ud-pd-lg dashed">
          {% if course.teacher %}
          <img class="avatar-lg cicle" src="/static/image/1.jpg"/>
          <h3 class="blue">{{ course.teacher.name }}</h3>
          <p>{{ course.teacher.dept.name }}</p>
          <p>研究方向：暂无</p>
          <p><a target="_blank">教师介绍：暂无</a></p>
          <div class="ud-pd-md" style="display: none"><a>教师排行榜：23</a></div>
          {% else %}
          <img class="avatar-lg cicle" src="/static/image/1.jpg"/>
          <h3 class="blue">老师甲</h3>
          {% endif %}
        </div>

        <div class="ud-pd-md dashed" style="display: none">
          <h5 class="blue">更多{{ course.teacher.name }}老师课程</h5>
        </div>

        <div class="ud-pd-md dashed" style="display: none">
          <h5 class="blue">更多{{ course.name }}</h5>
        </div>
      </div>
    </div> <!-- row -->
  </div>  <!-- float-element  -->
</div>  <!-- container -->
{% endblock %}




{% block script %}
<script>
 $('#myTab a').click(function (e) {
   e.preventDefault()
   $(this).tab('show')
 })
</script>
{% endblock %}
