{% extends "layout.html" %}
{% block content %}

<div class="container">

  <div class="float-element">
    <div class="row">
      <div class="col-md-8 inline-h3">
        <span class="blue h3">{{ course.name }}</span><span class="h3 blue mobile">（{{ course.teacher.name }}）</span>
        <span class="small grey align-bottom left-pd-sm desktop">学期：{{ course.term_display }} &nbsp;课堂号：{{ course.cno }}</span>
        <br><span class="small grey align-bottom mobile">学期：{{ course.term_display }} &nbsp;课堂号：{{ course.cno }}</span>

        {% if current_user.is_admin %}
        <btn class="btn btn-link float-right"><a href="{{ url_for('course.edit_course', course_id=course.id) }}">编辑课程信息</a></btn>
        {% endif %}
        <hr>
        {% if course.review_count %}
        <div class="ud-pd-sm blue">
          <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true"></span>
          {% if course.rate.average_rate > 2 %}
          <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true"></span>
          {% else %}
          <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true"></span>
          {% endif %}
          {% if course.rate.average_rate > 4 %}
          <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true"></span>
          {% else %}
          <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true"></span>
          {% endif %}
          {% if course.rate.average_rate > 6 %}
          <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true"></span>
          {% else %}
          <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true"></span>
          {% endif %}
          {% if course.rate.average_rate > 8 %}
          <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true"></span>
          {% else %}
          <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true"></span>
          {% endif %}
          <span class="rl-pd-sm h4">{{ course.rate.average_rate }}</span><span class="rl-pd-sm text-muted">({{ course.review_count }}人评价)</span>
        </div>
        <ul class="text-muted list-inline list-unstyled ud-pd-sm">
          <li class="right-mg-lg">课程难度：{{ course.rate.difficulty }}</li>
          <li class="right-mg-lg">作业多少：{{ course.rate.homework }}</li>
          <li class="right-mg-lg">给分好坏：{{ course.rate.grading }}</li>
          <li class="right-mg-lg">收获大小：{{ course.rate.gain }}</li>
        </ul>
        {% else %}
        <div class="ud-pd-sm blue">
          <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true"></span>
          <span class="rl-pd-sm h4"><span class="text-muted px12">(暂无评价)</span>
        </div>
        <ul class="text-muted list-inline list-unstyled">
          <li class="right-mg-lg">课程难度：你猜</li>
          <li class="right-mg-lg">作业多少：你猜</li>
          <li class="right-mg-lg">给分好坏：你猜</li>
          <li class="right-mg-lg">收获大小：你猜</li>
        </ul>
        {% endif %}

        <table class="table table-condensed no-border">
          <tr>
            <td><strong>学科类别：</strong>{{ course.course_major or '未知' }}</td>
            <td><strong>开课单位：</strong>{{ course.dept or '未知' }}</td>
          </tr>
          <tr>
            <td><strong>课程层次：</strong>{{ course.course_level or '未知' }}</td>
            <td><strong>学分：</strong>{{ course.credit or '未知' }}
          </tr>
          <tr>
            <td><strong>时间：</strong>{{ course.time_locations_display or '未知' }}</td>
            <td><strong>地点：</strong>{{ course.term_display or '未知' }}
              <span class="float-right"><a href="http://mis.teach.ustc.edu.cn/gradkcjs.do?kcid={{ course.kcid }}" target="_blank">更多信息</a><span></td>
          </tr>
          <!--
          暂时不用这些
          <td><strong>评分制：</strong>{{ course.grading_type or '未知' }}</td>
          <td><strong>周学时：</strong>{{ course.hours_per_week or '未知' }}</td>
          -->
          </tbody>
        </table>

        <div class="ud-pd-sm">
        {% if course.homepage %}
          课程主页：<a href="http://{{ course.homepage }}">{{ course.homepage }}</a>
          {% else %}
          课程主页：暂无（如果你知道，劳烦告诉我们！）</div>
        {% endif %}

        <div id="action-btn-group" class="ud-pd-md" style="display:none">
          <button class="btn btn-white btn-flat btn-follow btn-do"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> 关注 <small>(<span class="count"></span>)</small></button>
          <button class="btn btn-blue btn-flat btn-follow btn-undo"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 关注 <small>(<span class="count"></span>)</small></button>

          <button class="btn btn-white btn-flat btn-upvote btn-do"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 推荐 <small>(<span class="count"></span>)</small></button>
          <button class="btn btn-blue btn-flat btn-upvote btn-undo"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 推荐 <small>(<span class="count"></span>)</small></button>

          <button class="btn btn-white btn-flat btn-downvote btn-do"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> 不推荐 <small>(<span class="count"></span>)</small></button>
          <button class="btn btn-blue btn-flat btn-downvote btn-undo"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> 不推荐 <small>(<span class="count"></span>)</small></button>
          <span class="float-right" style="display: none" target="_blank"><a>查看{{ course.join_count }}位同班同学</a></span>
        </div>

        <div class="solid ud-pd-md inline-h3">
          <span class="blue h3">点评</span>
          {% if current_user.is_authenticated() %}
          <a type="button" href="{{ url_for('course.new_review',course_id=course.id) }}" class="btn btn-white float-right blue"><span class="glyphicon glyphicon-pencil glyphicon-sm right-pd-sm" aria-hidden="true" ></span>写点评</a>
          {% else %}
          <a type="button" data-toggle="modal" data-target="#signin" class="btn btn-white float-right blue"><span class="glyphicon glyphicon-pencil glyphicon-sm right-pd-sm" aria-hidden="true"></span>写点评</a>
          {% endif %}
        </div>

        {% if course.review_count == 0 %}
        <div class="tips">
          <p>还没有评论耶！放着我来！</p>
        </div>
        <div class="ud-pd-md"></div>
        {% else %}
        {% for review in course.reviews %}
        <div class="ud-pd-md dashed" id="review-{{review.id}}">
          <div class="ud-pd-sm blue">
            <a href={{ url_for('user.view_profile', user_id=review.author.id) }}><span class="right-pd-sm px16">{{ review.author.username }}</span></a>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            {% if review.rate > 2 %}
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            {% else %}
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            {% endif %}
            {% if review.rate > 4 %}
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            {% else %}
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            {% endif %}
            {% if review.rate > 6 %}
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            {% else %}
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            {% endif %}
            {% if review.rate > 8 %}
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            {% else %}
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            {% endif %}
          </div>
          <div class="ud-pd-sm">
            <p>{{ review.content|safe }}</p>
          </div>

          <div class="bm-pd-md grey" id="review-{{ review.id }}">
            <span class="small">{{ review.publish_time }}</span>
            <a class="nounderline" href="javascript: upvote_review({{ review.id }})"><span class="glyphicon glyphicon-thumbs-up blue left-pd-lg" aria-hidden="true" ></span> {{ review.upvote_count }}</a>
            <a class="nounderline" href="javascript: show_review_comments({{ review.id }})"><span class="glyphicon glyphicon-comment blue left-pd-md" aria-hidden="true"></span> {{ review.comment_count }}</a>
            <span class="pull-right">
              <a class="nounderline" href="javascript: delete_review({{ review.id }})"><span class="glyphicon glyphicon-trash blue left-pd-md" aria-hidden="true"></span> {{ _('删除') }}</a>
            </span>
          </div>

          <div id="review-{{ review.id }}-comments" class="panel panel-default" style="display:none">
            <div class="panel-body">
              {% for i in range(3) %}
              <div class="solid ud-pd-sm">
                <a>jenny42</a>：
                <span>lalallalalal</span>
                <span class="text-muted small float-right">2015-5-13 12:20</span>
              </div>
              {% endfor %}
              <textarea type="text" class="form-control" rows="2" id="comment" placeholder="你的评论"></textarea>
              <div class="ud-pd-sm"><button class="btn btn-sm btn-white float-right">评论</button></div>
            </div>
          </div>

        </div>
        {% endfor %}
        {% endif %}
      </div>



      <!-- 右边栏 -->

      <div class="col-md-4 rl-pd-lg">
        {% for teacher in course.teachers %}
        <div class="ud-pd-md dashed">
          <img class="avatar-lg cicle" src="{{ teacher.image }}"/>
          {% if current_user.is_admin %}
          <btn class="btn btn-link float-right"><a href="{{ url_for('user.teacher_settings', teacher_id=teacher.id) }}">编辑教师信息</a></btn>
          {% endif %}
          <h3 class="blue">{{ teacher.name }}</h3>
          <p>{{ teacher.dept.name }}</p>
          <p>研究方向：暂无</p>
          <p>教师主页：
            {% if teacher.homepage %}
            <a href="http://{{ teacher.homepage }}" target="_blank">{{ teacher.homepage }}</a>
            {% else %}暂无{% endif %}
          </p>
          <div class="ud-pd-md" style="display: none"><a>教师排行榜：23</a></div>
        </div>
        {% endfor %}
        {% if course.teachers_count == 0 %}
        <div class="ud-pd-md dashed">
          <img class="avatar-lg cicle" src="/static/image/teacher.jpg"/>
          <h3 class="blue">老师甲</h3>
        </div>
        {% endif %}

        {% if course.teachers_count == 1 %}
        <div class="ud-pd-md dashed" style="display: none">
          <h5 class="blue">更多{{ course.teachers[0].name }} 老师课程</h5>
        </div>
        {% endif %}

        <div class="ud-pd-md dashed" style="display: none">
          <h5 class="blue">更多{{ course.name }}</h5>
        </div>
      </div>
    </div> <!-- row -->
  </div>  <!-- float-element  -->
</div>  <!-- container -->
{% endblock %}




{% block script %}
<script>
 $('#myTab a').click(function (e) {
   e.preventDefault()
   $(this).tab('show')
 })

 var action_data = {
   'follow': {
     'enabled': {{ 'true' if course.following else 'false' }},
     'count': {{ course.follow_count or 0 }},
     'do_url': "{{ url_for('course.follow', course_id=course.id) }}",
     'undo_url': "{{ url_for('course.unfollow', course_id=course.id) }}",
   },
   'downvote': {
     'enabled': {{ 'true' if course.downvoted else 'false' }},
     'count': {{ course.downvote_count or 0 }},
     'do_url': "{{ url_for('course.downvote', course_id=course.id) }}",
     'undo_url': "{{ url_for('course.undo_downvote', course_id=course.id) }}",
     'conflict': 'upvote',
   },
   'upvote': {
     'enabled': {{ 'true' if course.upvoted else 'false' }},
     'count': {{ course.upvote_count or 0 }},
     'do_url': "{{ url_for('course.upvote', course_id=course.id) }}",
     'undo_url': "{{ url_for('course.undo_upvote', course_id=course.id) }}",
     'conflict': 'downvote',
   },
   'join': {
     'enabled': {{ 'true' if course.joined else 'false' }},
     'count': {{ course.join_count or 0 }},
     'do_url': "{{ url_for('course.join', course_id=course.id) }}",
     'undo_url': "{{ url_for('course.quit', course_id=course.id) }}",
   },
 }

 $(function() {
   for (action in action_data) {

     if (! $('.btn-' + action).length)
       continue;

     (function(action) {
       var d = action_data[action];

       var do_btn = $('.btn-' + action).filter('.btn-do');
       var undo_btn = $('.btn-' + action).filter('.btn-undo');

       function update_count(count) {
         d.count = count;
         $('.btn-' + action + ' .count').text(count);
       }
       function http_post_wrapper(url) {
         $.post(url, null, function(o) {
           if (o.count)
             update_count(o.count);
         }, 'json');
       }

       do_btn.click(function() {
         {% if user.is_authenticated() %}
         if (d.enabled)
           return;
         do_btn.hide();
         undo_btn.show();
         d.enabled = true;
         update_count(d.count + 1);
         if (d.conflict && action_data[d.conflict].enabled) {
           $('.btn-' + d.conflict).filter('.btn-undo').click();
         }
         http_post_wrapper(d.do_url);
         {% else %}
         $('#signin').modal('show');
         {% endif %}
       });

       undo_btn.click(function() {
         {% if user.is_authenticated() %}
         if (!d.enabled)
           return;
         undo_btn.hide();
         do_btn.show();
         d.enabled = false;
         update_count(d.count - 1);
         http_post_wrapper(d.undo_url);
         {% else %}
         $('#signin').modal('show');
         {% endif %}
       });

       update_count(d.count);

       if (d.enabled) {
         undo_btn.show();
         do_btn.hide();
       } else {
         do_btn.show();
         undo_btn.hide();
       }
     })(action);
   }
   $('#action-btn-group').show();
 });

 function show_review_comments(review_id)
 {
   if (document.getElementById('review-'+ review_id +'-comments').style.display=="block") {
       document.getElementById('review-'+ review_id +'-comments').style.display="none";
     }
   else {
     document.getElementById('review-'+ review_id +'-comments').style.display="block";
   }
 }

</script>
{% endblock %}
