    <div class="select-box desktop">
      <ul class="list-unstyled list-inline">
        <span><strong>课程类别：</strong></span>
        <li class="item {% if not course_type %}active{% endif %}">
          <a href="{{ url_for(this_module, q=keyword) }}">全部</a>
        </li>
        {% for course_type, course_type_label in course_type_dict.items() %}
        <li class="item {% if course_type==course_type %}active{% endif %}">
          <a href="{{ url_for(this_module, q=keyword, course_type=course_type) }}">{{ course_type_label[0] }}</a>
        </li>
        {% endfor %}
      </ul>

    </div><!-- end elect-box -->
