{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="row float-element">
    <div class="col-md-8 inline-h3">
      <span class="blue h3">多变量微积分</span>
      <span class="small grey align-bottom left-gap-sm">学期：2015春 &nbsp;课堂号：00151311</span>
      <hr>
      <div class="ud-gap-sm blue">
        <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
        <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
        <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
        <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
        <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true" ></span>
        <span class="rl-gap-sm h4">8.5</span><span class="rl-gap-sm text-muted">(8人评价)</span>
      </div>


      <table class="table table-condensed no-border text-muted">
        <tbody>
          <tr>
          <td>课程难度：困难</td>
          <td>睡眠指数：中等</td>
          <td>给分好坏：暂无</td>
          <td>收获大小：一般</td>
          </tr>
        </tbody>
      </table>



      <table class="table table-condensed no-border">
          <tr>
            <td><strong>学科类别：</strong>数学</td>
            <td><strong>开课单位：</strong>数学科学学院</td>
          </tr>
          <tr>
            <td><strong>课程层次：</strong>全校通修</td>
            <td><strong>预修课程：</strong>单变量微积分</td>
          </tr>
          <tr>
            <td><strong>周学时：</strong>6</td>
            <td><strong>学分：</strong>6
              <span class="float-right"><a href="http://mis.teach.ustc.edu.cn/gradkcjs.do?kcid=182" target="_blank">更多信息</a><span></td>
          </tr>
        </tbody>
      </table>

      <p style="display: none">课程主页：http://staff.ustc.edu.cn/~zhuang/clp.htm</p>

      <div class="ud-gap-md">
        <button class="btn btn-blue" type="submit">关注 <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button>
        <button class="btn btn-blue" type="submit">推荐 <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></button>
          <button class="btn btn-blue" type="submit">不推荐 <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></button>
            <span class="float-right"><a>查看同班同学</a></span>
      </div>



      <div class="solid ud-gap-md inline-h3">
        <span class="blue h3">点评</span>
        <button type="button" class="btn btn-default float-right blue">写点评</button>
      </div>


      <!-- 第一个 -->
      <div class="ud-gap-md dashed">
        <div class="ud-gap-sm">
          <a><span class="right-gap-sm">jenny42</span></a>
          <span class="glyphicon glyphicon-star blue" aria-hidden="true" ></span>
          <span class="glyphicon glyphicon-star blue" aria-hidden="true" ></span>
          <span class="glyphicon glyphicon-star blue" aria-hidden="true" ></span>
          <span class="glyphicon glyphicon-star-empty blue" aria-hidden="true" ></span>
          <span class="glyphicon glyphicon-star-empty blue" aria-hidden="true" ></span>
        </div>
        <div class="ud-gap-sm">
          <p>李娟老师真是一位好老师，上课从不迟到，板书特别好，不会像代数结构的老师，上课讲什么我们都听不懂...不过多变量微积分也很难啊！李娟老师真是一位好老师，上课从不迟到，板书特别好，不会像代数结构的老师，上课讲什么我们都听不懂...不过多变量微积分也很难啊！李娟老师真是一位好老师，上课从不迟到，板书特别好，不会像代数结构的老师，上课讲什么我们都听不懂...不过多变量微积分也很难啊！</p>
        </div>
        <div class="grey">
          <span class="small">2015-03-17 19:45</span>
          <span class="glyphicon glyphicon-thumbs-up blue left-gap-lg" aria-hidden="true" ></span> 1
          <span class="glyphicon glyphicon-comment blue left-gap-md" aria-hidden="true"></span> 1
        </div>
      </div>

      <!-- 第一个 -->
      <div class="ud-gap-md dashed">
        <div class="ud-gap-sm">
          <a><span class="right-gap-sm">jenny42</span></a>
          <span class="glyphicon glyphicon-star blue" aria-hidden="true" ></span>
          <span class="glyphicon glyphicon-star blue" aria-hidden="true" ></span>
          <span class="glyphicon glyphicon-star blue" aria-hidden="true" ></span>
          <span class="glyphicon glyphicon-star-empty blue" aria-hidden="true" ></span>
          <span class="glyphicon glyphicon-star-empty blue" aria-hidden="true" ></span>
        </div>
        <div class="ud-gap-sm">
          <p>李娟老师真是一位好老师，上课从不迟到，板书特别好，不会像代数结构的老师，上课讲什么我们都听不懂...不过多变量微积分也很难啊！</p>
        </div>
        <div class="grey">
          <span class="small">2015-03-17 19:45</span>
          <span class="glyphicon glyphicon-thumbs-up blue left-gap-lg aria-hidden="true" ></span> 1
          <span class="glyphicon glyphicon-comment blue left-gap-md" aria-hidden="true"></span> 1
        </div>
      </div>


      <!-- 第一个 -->
      <div class="ud-gap-md dashed">
        <div class="ud-gap-sm">
          <a><span class="right-gap-sm">jenny42</span></a>
          <span class="glyphicon glyphicon-star blue" aria-hidden="true" ></span>
          <span class="glyphicon glyphicon-star blue" aria-hidden="true" ></span>
          <span class="glyphicon glyphicon-star blue" aria-hidden="true" ></span>
          <span class="glyphicon glyphicon-star-empty blue" aria-hidden="true" ></span>
          <span class="glyphicon glyphicon-star-empty blue" aria-hidden="true" ></span>
        </div>
        <div class="ud-gap-sm">
          <p>李娟老师真是一位好老师，上课从不迟到，板书特别好，不会像代数结构的老师，上课讲什么我们都听不懂...不过多变量微积分也很难啊！</p>
        </div>
        <div class="grey">
          <span class="small">2015-03-17 19:45</span>
          <span class="glyphicon glyphicon-thumbs-up blue left-gap-lg" aria-hidden="true" ></span> 1
          <span class="glyphicon glyphicon-comment blue left-gap-md" aria-hidden="true"></span> 1
        </div>
      </div>
      
    </div>




    <!-- 右边栏 -->

    <div class="col-md-4 rl-gap-lg">
      <div class="ud-gap-lg dashed">
        <img class="avatar-lg cicle" src="/static/image/lijuan.jpg"/>
        <h3 class="blue">李娟</h3>
        <span class="text-muted">数学系 副教授</span><a class="left-gap-sm" href="http://math.ustc.edu.cn/new/teachersinfo1.php?id=54" target="_blank">教师介绍</a>
        <div class="ud-gap-md hidden"><a>教师排行榜：23</a></div>
      </div>

      <div class="ud-gap-md dashed">
        <h5 class="blue">更多李娟老师课程</h5>
      </div>

      <div class="ud-gap-md dashed">
        <h5 class="blue">更多多变量微积分</h5>
      </div>
    </div>



  </div>  <!-- row  -->
</div>  <!-- container -->
{% endblock %}




{% block script %}
<script>
 $('#myTab a').click(function (e) {
   e.preventDefault()
   $(this).tab('show')
 })
</script>
{% endblock %}