{% extends "layout.html" %}
{% block content %}

<!-- Page Content -->
<div class="container">

  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Page Heading
        <small>Secondary Text</small>
      </h1>
    </div>
  </div>
  <!-- /.row -->

  <!-- Projects Row -->
  <div class="row">
    <div class="col-md-4 portfolio-item">
      <a href="#">
        <img class="img-responsive" src="http://placehold.it/700x400" alt="">
      </a>
      <h3>
        <a href="#">Project Name</a>
      </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
    </div>
    <div class="col-md-4 portfolio-item">
      <a href="#">
        <img class="img-responsive" src="http://placehold.it/700x400" alt="">
      </a>
      <h3>
        <a href="#">Project Name</a>
      </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
    </div>
    <div class="col-md-4 portfolio-item">
      <a href="#">
        <img class="img-responsive" src="http://placehold.it/700x400" alt="">
      </a>
      <h3>
        <a href="#">Project Name</a>
      </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
    </div>
  </div>
  <!-- /.row -->

  <!-- Projects Row -->
  <div class="row">
    <div class="col-md-4 portfolio-item">
      <a href="#">
        <img class="img-responsive" src="http://placehold.it/700x400" alt="">
      </a>
      <h3>
        <a href="#">Project Name</a>
      </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
    </div>
    <div class="col-md-4 portfolio-item">
      <a href="#">
        <img class="img-responsive" src="http://placehold.it/700x400" alt="">
      </a>
      <h3>
        <a href="#">Project Name</a>
      </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
    </div>
    <div class="col-md-4 portfolio-item">
      <a href="#">
        <img class="img-responsive" src="http://placehold.it/700x400" alt="">
      </a>
      <h3>
        <a href="#">Project Name</a>
      </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
    </div>
  </div>

  <!-- Projects Row -->
  <div class="row">
    <div class="col-md-4 portfolio-item">
      <a href="#">
        <img class="img-responsive" src="http://placehold.it/700x400" alt="">
      </a>
      <h3>
        <a href="#">Project Name</a>
      </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
    </div>
    <div class="col-md-4 portfolio-item">
      <a href="#">
        <img class="img-responsive" src="http://placehold.it/700x400" alt="">
      </a>
      <h3>
        <a href="#">Project Name</a>
      </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
    </div>
    <div class="col-md-4 portfolio-item">
      <a href="#">
        <img class="img-responsive" src="http://placehold.it/700x400" alt="">
      </a>
      <h3>
        <a href="#">Project Name</a>
      </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Pagination -->
  <div class="row text-center">
    <div class="col-lg-12">
      <ul class="pagination">
        <li>
          <a href="#">&laquo;</a>
        </li>
        <li class="active">
          <a href="#">1</a>
        </li>
        <li>
          <a href="#">2</a>
        </li>
        <li>
          <a href="#">3</a>
        </li>
        <li>
          <a href="#">4</a>
        </li>
        <li>
          <a href="#">5</a>
        </li>
        <li>
          <a href="#">&raquo;</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Your Website 2014</p>
      </div>
    </div>
    <!-- /.row -->
  </footer>

</div>
<!-- /.container -->

<!-- 
<html>
  <body>
    {% for item in pagination.items %}
    
    <table>
      <tr>{{ item.cno }}</tr>
      <tr><a href={{ item.url }}>{{ item.name }}</a></tr>
      <tr>{{ item.dept }}</tr>
      <tr>{{ item.description }}</tr>
      <tr><a href={{ url_for('review.new_review',course_id=item.id, course_name=item.name) }}>New Rreview</a>
    </table>
    {% endfor %}
  </body>
</html>
-->

{% endblock %}