{% extends "layout.html" %}
{% block content %}

<div class="container">

  <div class="row float-element">
    <div class="row">
      <div class="col-md-8 inline-h3">
        <span class="blue h3"><a href="{{ url_for('course.view_course', course_id=course.id) }}">{{ course.name }}</a></span><span class="h3 blue mobile">（{{ course.teacher.name }}）</span>
        <span class="small grey align-bottom left-pd-sm">学期：{{ course.term_ids|term_display }} &nbsp;课程号：{{ course.courseries }}</span>
        <hr>

        <table class="table table-condensed no-border">
          <tr>
            <td><strong>学科类别：</strong>{{ course.course_major or '未知' }}</td>
            <td><strong>开课单位：</strong>{{ course.dept or '未知' }}</td>
          </tr>
          <tr>
            <td><strong>课程层次：</strong>{{ course.course_level or '未知' }}</td>
            <td><strong>学分：</strong>{{ course.credit or '未知' }}
          </tr>
          <tr>
            <td><strong>时间：</strong>{{ course.time_locations_display or '未知' }}</td>
            <td><strong>地点：</strong>{{ course.term_ids|term_display or '未知' }}
              <span class="float-right"><a href="http://mis.teach.ustc.edu.cn/gradkcjs.do?kcid={{ course.kcid }}" target="_blank">更多信息</a><span></td>
          </tr>
          <!--
          暂时不用这些
          <td><strong>评分制：</strong>{{ course.grading_type or '未知' }}</td>
          <td><strong>周学时：</strong>{{ course.hours_per_week or '未知' }}</td>
          -->
          </tbody>
        </table>
        <p><a href="{{ url_for('course.profile_history', course) }}">查看编辑历史（共 {{ len(course.info_history) }} 次）</a></p>

        <form method="post" enctype="multipart/form-data">
          {{ form.csrf_token }}
          <div class="form-group">
            <label class="control-label">课程主页链接</label>
            <input class="form-control" type="text" name="homepage" value="{{ course.homepage or '' }}">
          </div>
          <div class="form-group">
            <label class="control-label">课程简介</label>
            <p>课程简介是公共编辑的，应该是尽量客观的信息（如课程大纲、教材、助教、考试形式等）。主观评价请写在点评里。</p>
            <textarea class="form-control" id="content-editor" name="introduction" rows="5">{{ course.introduction or ''|safe }}</textarea>
          </div>
          <button type="submit" class="btn btn-sm btn-default">提交</button>
        </form>

      </div>

    </div> <!-- row -->
  </div>  <!-- float-element  -->
</div>  <!-- container -->
{% endblock %}




{% block script %}
{% include 'ckeditor.html' %}
{% endblock %}
