{% extends "layout.html" %}
{% block content %}

<!-- Page Content -->
<div class="container">

  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">热门课程</h1>
    </div>
  </div>
  <!-- /.row -->

  {% for row in pagination.items|batch(3) %}
  <!-- Projects Row -->
  <div class="row">
      {% for course in row %}
    <div class="col-md-4 portfolio-item">
      <a href="#">
        <img class="img-responsive" src="http://placehold.it/700x400" alt="">
      </a>
      <h3>
          <a href={{ course.url }}>{{ course.name }}</a>
      </h3>
      {{ course.description }}
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
    </div>
    {% endfor %}
  </div>
  <!-- /.row -->
  {% endfor %}

  <hr>

  <!-- Pagination -->
<nav>
  <ul class=pagination>
        {%- if pagination.has_prev %} 
        <li>
        <a href={{ url_for('course.index',page=pagination.prev_num) }} aria-label="previous">
           <span aria-hidden="true">&laquo;</span>
       </a>
       </li>
       {% else %}
       <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
       {% endif %}
  {%- for page in pagination.iter_pages(left_edge=1,right_edge=1) %}
    {% if page %}
      {% if page != pagination.page %}
      <li>
        <a href="{{ url_for('course.index', page=page) }}">{{ page }}</a>
        </li>
      {% else %}
      <li class="active">
      <a href="#"><strong>{{ page }}</strong></a>
        </li>
      {% endif %}
    {% else %}
        <li><span class=ellipsis>…</span></li>
    {% endif %}
    {%- endfor %}
    {%- if pagination.has_next %} 
        <li>
        <a href={{ url_for('course.index',page=pagination.next_num) }} aria-label="Next">
           <span aria-hidden="true">&raquo;</span>
       </a>
       </li>
        {% else %}
       <li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
       {% endif %}
  </ul>
<nav>
   <!-- /.row -->

  <hr>
</div>
<!-- /.container -->

<!-- 
<html>
  <body>
    {% for item in pagination.items %}
    
    <table>
      <tr>{{ item.cno }}</tr>
      <tr><a href={{ item.url }}>{{ item.name }}</a></tr>
      <tr>{{ item.dept }}</tr>
      <tr>{{ item.description }}</tr>
      <tr><a href={{ url_for('review.new_review',course_id=item.id, course_name=item.name) }}>New Rreview</a>
    </table>
    {% endfor %}
  </body>
</html>
-->

{% endblock %}
