{% extends "layout.html" %}
{% block content %}

<!-- Page Content -->
<div class="container">

  <div class="row float-element">
    {% include "mobile-navbar.html" %}
    {# include "course-filter.html" #}

    <div class="row">
      <div class="col-lg-12">
        <div class="ud-pd-sm"><span class="text-muted">共 {{ courses.total }} 门课（当前第 {{ courses.page }} 页）</span></div>

        {% include "course-list.html" %}

    <nav>
      <ul class="pagination">
        {% if courses.has_prev %} 
        <li>
            <a href="{{ url_for(this_module, page=courses.prev_num, dept=dept) }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% else %} 
        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        {% endif %}
        
        {% for page in courses.iter_pages(left_edge=1, right_edge=0) %}
            {% if page == courses.page %}
            <li class="active"><a href="#">{{ page }}<span class="sr-only">(current)</span></a></li>
            {% elif page %}
            <li><a href="{{ url_for(this_module, page=page, dept=dept) }}">{{ page }}</a></li>
            {% else %}
            <li><a>...</a></li>
            {% endif %}
        {% endfor %}

        {% if courses.has_next %}
        <li>
          <a href="{{ url_for(this_module, page=courses.next_num, dept=dept) }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>

      </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->
  </div><!-- /.float-element -->
</div><!-- /.container -->
{% endblock %}
