{% for course in courses.items %}
<div class="ud-pd-md dashed">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <a class="px16" href="{{ url_for('course.view_course', course_id=course.id) }}">{{ course.name }}{% if course.teachers %}（{{ course.teacher_names_display }}）{% endif %}</a>

      {% if course.introduction %}
      <span class="label label-danger">课程简介</span>
      {% endif %}
      {% if current_user.is_authenticated and course in current_user.courses_joined %}
      <span class="label label-info">已学过</span>
      {% endif %}
      {% if course.reviewed %}
      <span class="label label-success">已点评</span>
      {% endif %}

      <span class="small text-muted">{{ course.term_ids|term_display_one }}</span>

      {% if course.review_count %}
      <div class="ud-pd-sm blue">
        {% for star in range(0,5) %}
          {% if course.rate.average_rate >= 1.5 + star * 2 %}
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          {% elif course.rate.average_rate >= 0.5 + star * 2 %}
          <span class="glyphicon glyphicon-star-half" aria-hidden="true"></span>
          {% else %}
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
          {% endif %}
        {% endfor %}
        <span class="rl-pd-sm h4">{{ course.rate.average_rate }}</span><span class="text-muted px12">({{ course.review_count }} 人评价)</span>
      </div>
      {% else %}
      <div class="ud-pd-sm blue">
        {% for star in range(0,5) %}
          <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
        {% endfor %}
        <span class="rl-pd-sm h4"><span class="text-muted px12">暂无评价</span>
      </div>
      {% endif %}
      <ul class="text-muted list-inline list-unstyled">
        <li class="right-mg-md">课程难度：{{ course.rate.difficulty or '你猜' }}</li>
        <li class="right-mg-md">作业多少：{{ course.rate.homework or '你猜' }}</li>
        <li class="right-mg-md">给分好坏：{{ course.rate.grading or '你猜' }}</li>
        <li class="right-mg-md">收获大小：{{ course.rate.gain or '你猜' }}</li>
      </ul>
      <p>
    </div>
  </div>
</div>
{% endfor %}

