{% extends "layout-simple.html" %}
{% block content %}

<div class="container" style="text-align:center">
  <div class="ud-pd-lg">
    {% if code == 404 %}
    <h1 style="color:#366184;">404 Not Found</h1>
    <p class="ud-pd-md grey px20">哎呀抱歉，你要找的页面找不到了&gt;_&lt; </p>
    {% elif code == 403 %}
    <h1 style="color:#366184;">403 Forbidden</h1>
    <p class="ud-pd-md grey px20">哎呀抱歉，您没有权限访问此页面&gt;_&lt; </p>
    {% elif code == 400 %}
    <h1 style="color:#366184;">400 Bad Request</h1>
    <p class="ud-pd-md grey px20">哎呀抱歉，您的请求格式错误&gt;_&lt; </p>
    {% elif code == 500 %}
    <h1 style="color:#366184;">500 Internal Server Error</h1>
    <p class="ud-pd-md grey px20">哎呀抱歉，服务器给跪了&gt;_&lt; </p>
    {% elif code == 502 %}
    <h1 style="color:#366184;">502 Bad Gateway</h1>
    <p class="ud-pd-md grey px20">哎呀抱歉，服务器给跪了&gt;_&lt; </p>
    {% else %}
    <h1 style="color:#366184;">HTTP Error {{ code }}</h1>
    <p class="ud-pd-md grey px20">哎呀抱歉，服务器给跪了&gt;_&lt; </p>
    {% endif %}
    <div class="ud-pd-lg"></div>
    <p class="ud-pd-lg grey">如果这是网站的bug，或者要找的页面你很重要，请邮件联系我们：<span class="blue">service@cra.moe</span></p>
  </div>
</div>
{% endblock %}
