{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="row float-element">


    <div class="bm-pd-lg">
      <div class="inline-h3">
        <span class="blue h3">{{ user.username }} 关注</span>
        （{{ user.courses_following_count }}门）
      </div>

      {% for course in user.courses_following %}
      <div class="ud-pd-md dashed">
        <a href="{{ url_for('course.view_course', course_id=course.id) }}">{{ course.name }}（{{ course.teacher.name or _('Unknown') }}）</a>
	{% if course.introduction %}
	<span class="label label-danger">课程简介</span>
	{% endif %}
	{% if course in user.courses_joined %}
        <span class="label label-info">已学过</span>
        {% endif %}
      </div>
      {% endfor %}

    </div>


  </div><!-- end float-element -->
</div><!-- end container -->
{% endblock %}
