{% extends "layout-simple.html" %}
{% block content %}

<div class="container">
  <div class="row float-element">

    {{ error }}

    <h3 class="blue">Forgot your password?</h3>
    <hr>

    <form class="form-horizontal" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">USTC Email</label>
        <div class="col-sm-4">
          <input name="email" class="form-control" id="inputEmail" placeholder="Account Email">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
          <button type="submit" class="btn btn-blue">Submit</button>
        </div>
      </div>
    </form>


  </div>
</div>

{% endblock %}


