{% extends "layout.html" %}
{% block content %}

<div class="container"">

  <div class="float-element">
    <h3 class="blue">USTC评课社区</h3>
    <hr>

    <form class="form-inline mobile" action="search" method="get">
      <div class="form-group">
        <input type="text" name="q" class="form-control input-lg" placeholder="搜索你感兴趣的课程">
      </div>
    </form>

    <div class="ud-pd-sm">
    <h4 class="blue">热门点评（Top10）</h4>
    {% for i in range(10) %}
    
    {% endfor %}
    </div>

    <div class="ud-pd-sm">
    <h4 class="blue">最新点评（Last10）</h4>
    {% for i in range(10) %}
    
    {% endfor %}
    </div>



  </div><!-- /.float-element -->
</div><!-- /.container -->

{% endblock %}

{% block script %}
<script>
 $('#inputCourse').focus();
</script>
{% endblock %}