{% extends "layout.html" %}
{% block content %}

<div class="container"">

  <div class="float-element">
    <h2 class="blue">USTC评课社区</h2>
    <hr>
    <div class="ud-pd-md desktop">
    </div>
    <div class="tips mobile">
      <p>搜索你感兴趣的课程</p>
    </div>
    <form class="form-inline" action="search" method="get">
      <div class="form-group">
        <input type="text" name="q" class="form-control input-lg" id="inputCourse" placeholder="输入课程名称、课堂号">
      </div>
      <button type="submit" class="btn btn-default btn-lg">搜索</button>
    </form>
    <div class="ud-pd-lg"></div>
  </div><!-- /.float-element -->
</div><!-- /.container -->

{% endblock %}

{% block script %}
<script>
 $('#inputCourse').focus();
</script>
{% endblock %}