{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="row float-element">


    <div class="bm-pd-lg">
      <div class="inline-h3">
        <span class="blue h3">学过课程</span>
        <a>（{{ user.courses_joined_count }}门）</a>
      </div>

      {% for course in user.courses_joined %}
      <div class="ud-pd-md dashed">
        <a href="{{ url_for('course.view_course', course_id=course.id) }}">{{ course.name }}
        {% if course.teachers %}（{{ course.teacher_names_display }}）{% endif %}
        </a>
        {% if course.reviewed %}
        <span class="label label-success">已点评</span>
        {% else %}
        <span class="label label-default">未点评</span>
        {% endif %}
        <span class="small grey align-bottom  float-right">学期：{{ course.term_display }}</span>
      </div>
      {% endfor %}

    </div>


  </div><!-- end float-element -->
</div><!-- end container -->
{% endblock %}
