{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="row float-element">
    <div class="bm-pd-md">
      {% include 'mobile-navbar.html' %}
    
      <div class="ud-pd-sm"><span class="text-muted">共 {{ reviews.total }} 个点评（当前第 {{ reviews.page }} 页）</span></div>

      {% for review in reviews.items %}
          {% if not review.is_hidden or current_user.is_admin or current_user == review.author %}
      <div class="ud-pd-md dashed">
        <div class="row">
          <div class="col-sm-1 col-xs-2 right-pd-no">
            <img class="avatar-md circle" src="{{ review.author.avatar }}"/>
          </div>
          <div class="col-sm-11 col-xs-10">
            <div class="grey bm-pd-md">
	      <a href="{{ url_for('user.view_profile', user_id=review.author.id) }}">{{ review.author.username }}</a>
	      点评了
          <a href="{{ url_for('course.view_course', course_id=review.course.id) }}">{{ review.course.name }}{% if review.course.teachers %}（{{ review.course.teacher_names_display }}）{% endif %}</a>

              <span class="float-right localtime" style="display: none;">{{ review.publish_time|utctime }}</span>
            </div>
            {% include 'review-hidden.html' %}
            <p class="text-muted">{{ review.content|abstract }} <a href="{{ url_for('course.view_course', course_id=review.course.id) }}#review-{{ review.id }}">&gt;&gt;更多</a></p>
          </div><!-- ./col-md-8 -->
        </div><!-- ./row -->
      </div><!-- ./dashed -->
	{% endif %}
      {% endfor %}

    <nav>
      <ul class="pagination">
        {% if reviews.has_prev %} 
        <li>
            <a href="{{ url_for(this_module, page=reviews.prev_num) }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% else %} 
        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        {% endif %}
        
        {% for page in reviews.iter_pages(left_edge=1, right_edge=0) %}
            {% if page == reviews.page %}
            <li class="active"><a href="#">{{ page }}<span class="sr-only">(current)</span></a></li>
            {% elif page %}
            <li><a href="{{ url_for(this_module, page=page) }}">{{ page }}</a></li>
            {% else %}
            <li><a>...</a></li>
            {% endif %}
        {% endfor %}

        {% if reviews.has_next %}
        <li>
          <a href="{{ url_for(this_module, page=reviews.next_num) }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>

    </div>

  </div><!-- /.float-element -->
</div><!-- /.container -->

{% endblock %}

{% block script %}
<script>
 $('#inputCourse').focus();
</script>
{% endblock %}
