<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>USTC评课社区</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/signin.css" rel="stylesheet">
  </head>



  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href={{ url_for('course.index') }}>USTC评课社区</a>
        </div>
      </div>
    </nav>

    {% block content %} {% endblock %}


    <footer class="footer">
      <div class="container">
        <div class="footer-link">
          <a class="footer-btn" href='/about/'>About</a>
          <a class="footer-btn" href='/blog/' style="display: none">Blog</a>
          <a class="footer-btn" href='/report-bug/'>Report Bug</a>
        </div>
        <p class="footer-text text-muted">Copyright &copy; USTC评课社区 2015</p>
      </div>
    </footer>





    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% block script %} {% endblock %}
  </body>
</html>