{% extends "layout.html" %}

{% block head %}
<!-- Custom styles for this template -->
<link href="/static/css/signin.css" rel="stylesheet">
{% endblock %}

{% block content %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signin">写点评</button>

{% if error %}
{{ error }}
{% endif %}

<div class="modal fade" id="signin" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-signin">
    <div class="modal-content">
        <form class="form-signin" target={{ url_for('home.login') }} method='post'>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="form-signin-heading">
          <span class="h2">Please sign in</span>
          <a class="btn btn-default float-right" href="/sign_up">Sign Up</a>
        </div>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input name="username" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
          <a class="float-right" href="/forgot_password">Forgot Password</a>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div>
  </div>
</div>


{% endblock %}


{% block script %}

<script>
 $('#signin').on('shown.bs.modal', function () {
   $('#inputEmail').focus()
 })
</script>

{% endblock %}
