      {% if this_module == 'home.search_reviews' %}
      <form class="mobile ud-pd-sm" action="{{ url_for('home.search_reviews') }}" method="get">
      {% else %}
      <form class="mobile ud-pd-sm" action="{{ url_for('home.search') }}" method="get">
      {% endif %}
        <div class="form-group" style="margin-bottom: 3px;">
          <input type="text" name="q" class="form-control input" placeholder="搜索你感兴趣的课程" value="{{ keyword or '' }}">
        </div>
      </form>

      {% if this_module and this_module!='home.search' and this_module!='home.search_reviews' %}
      <ul class="nav nav-tabs mobile">
          <li {% if this_module and this_module=='home.latest_reviews' %}class="active"{% endif %}><a href="{{ url_for('home.latest_reviews') }}">点评</a></li>
          <li {% if this_module and this_module=='course.index' %}class="active"{% endif %}><a href="{{ url_for('course.index') }}">课程</a></li>
	  {% if this_module and this_module=='course.index' %}
	  <li role="presentation" class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" role="button">
		     筛选课程 <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu">
	      <li class="disabled"><a href="#">排序方式</a></li>
	      <li {% if sort_by!='popular' %}class="active"{% endif %}><a href="{{ url_for('course.index', sort_by='rating', course_type=course_type) }}">课程评分</a></li>
              <li {% if sort_by=='popular' %}class="active"{% endif %}><a href="{{ url_for('course.index', sort_by='popular', course_type=course_type) }}">点评数量</a></li>
              <li role="separator" class="divider"></li>
	      <li class="disabled"><a href="#">课程类别</a></li>
              <li class="item {% if not course_type %}active{% endif %}"><a href="{{ url_for(this_module, q=keyword, sort_by=sort_by) }}">全部</a></li>
              {% for type, course_type_label in course_type_dict.items() %}
              <li class="item {% if type==course_type %}active{% endif %}"><a href="{{ url_for(this_module, q=keyword, course_type=type, sort_by=sort_by) }}">{{ course_type_label[0] }}</a></li>
              {% endfor %}
	    </ul>
	  </li>
	  {% endif %}
	  <li {% if this_module and this_module=='stats.view_ranking' %}class="active"{% endif %}><a href="{{ url_for('stats.view_ranking') }}">排行榜</a></li>
          {% if current_user.is_authenticated %}
          <li {% if this_module and this_module=='home.follow_reviews' %}class="active"{% endif %}><a href="{{ url_for('home.follow_reviews') }}">关注</a></li>
          {% endif %}
      </ul>
      {% endif %}


      <div class="top-pd-md bm-pd-sm">
      {% if title %}
        <span class="blue h4 desktop">{{ title }}</span>
	<span class="blue h5 mobile">
	  {% if this_module and this_module=='course.index' and course_type_dict and course_type %}
		「{{ course_type_dict[course_type][0] }}」
          {% endif %}
		{{ title }}
	</span>
      {% endif %}
	{% if this_module and this_module=='home.search' %}
	<a class="btn btn-white float-right desktop" href="{{ url_for('home.search_reviews', q=keyword) }}">搜点评</a>
	<a class="float-right mobile" href="{{ url_for('home.search_reviews', q=keyword) }}">搜点评</a>
	{% elif this_module and this_module=='home.search_reviews' %}
	<a class="btn btn-white float-right desktop" href="{{ url_for('home.search', q=keyword, noredirect=True) }}">搜课程</a>
	<a class="float-right mobile" href="{{ url_for('home.search', q=keyword, noredirect=True) }}">搜课程</a>
	{% elif this_module and this_module=='home.follow_reviews' and follow_type=='course' %}
	<a class="btn btn-white float-right desktop" href="{{ url_for('home.follow_reviews', follow_type='user') }}">
	   <span class="glyphicon glyphicon glyphicon-arrow-right" aria-hidden="true"></span> 关注的人
	</a>
	<a class="float-right mobile" href="{{ url_for('home.follow_reviews', follow_type='user') }}">
	   <span class="glyphicon glyphicon glyphicon-arrow-right" aria-hidden="true"></span> 关注的人
	</a>
	{% elif this_module and this_module=='home.follow_reviews' and follow_type=='user' %}
	<a class="btn btn-white float-right desktop" href="{{ url_for('home.follow_reviews', follow_type='course') }}">
	   <span class="glyphicon glyphicon glyphicon-arrow-right" aria-hidden="true"></span> 关注的课程
	</a>
	<a class="float-right mobile" href="{{ url_for('home.follow_reviews', follow_type='course') }}">
	   <span class="glyphicon glyphicon glyphicon-arrow-right" aria-hidden="true"></span> 关注的课程
	</a>
	{% endif %}
      </div>
