      <form class="mobile ud-pd-sm" action="{{ url_for('home.search') }}" method="get">
        <div class="form-group">
          <input type="text" name="q" class="form-control input" placeholder="搜索你感兴趣的课程" value="{{ keyword or '' }}">
        </div>
      </form>

      {% if title %}
      <h4 class="blue desktop">{{ title }}</h4>
      {% endif %}
      <ul class="nav nav-tabs mobile">
          <li {% if this_module and this_module=='home.latest_reviews' %}class="active"{% endif %}><a href="{{ url_for('home.latest_reviews') }}">点评</a></li>
          {% if current_user.is_authenticated %}
          <li {% if this_module and this_module=='home.follow_reviews' %}class="active"{% endif %}><a href="{{ url_for('home.follow_reviews') }}">关注</a></li>
          {% endif %}
          <li {% if this_module and (this_module=='course.index' or this_module=='home.search') %}class="active"{% endif %}><a href="{{ url_for('course.index') }}">好评</a></li>
          <li {% if this_module and (this_module=='course.popular') %}class="active"{% endif %}><a href="{{ url_for('course.popular') }}">热门</a></li>
          <li {% if this_module and this_module=='course.public_courses' %}class="active"{% endif %}><a href="{{ url_for('course.public_courses') }}">公选</a></li>
      </ul>


