{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="float-element">
    <div class="inline-h3">
    <span class="blue h4">点评 &bull; {{ course.name }}（{{ course.teacher.name }}）</span>
    <span class="small grey align-bottom left-pd-sm desktop">学期：{{ course.term_display }} &nbsp;课堂号：{{ course.cno }}</span>
    <br><span class="small grey align-bottom mobile">学期：{{ course.term_display }} &nbsp;课堂号：{{ course.cno }}</span>
    </div>
    <hr>
    <form class="form-horizontal" method="post" action="{{ url_for('course.new_review', course_id=course.id) }}">
      {{ form.csrf_token }}
      <div class="rate-part ud-pd-md">
        <div class="ud-pd-sm">
          <span class="right-pd-sm weight-heavy">课程难度</span>
          <span class="btn-flat btn-grey">简单</span>
          <span class="btn-flat btn-grey">中等</span>
          <span class="btn-flat btn-grey">困难</span>
          <input type="hidden" name="difficulty" class="difficult" value=2>
        </div>

        <div class="ud-pd-md">
          <span class="right-pd-sm weight-heavy">作业多少</span>
          <span class="btn-flat btn-grey">不多</span>
          <span class="btn-flat btn-grey">中等</span>
          <span class="btn-flat btn-grey">超多</span>
          <input type="hidden" name="homework" class="homework" value=2>
        </div>

        <div class="ud-pd-sm">
          <span class="right-pd-sm weight-heavy">给分好坏</span>
          <span class="btn-flat btn-grey">超好</span>
          <span class="btn-flat btn-grey">厚道</span>
          <span class="btn-flat btn-grey">杀手</span>
          <input type="hidden" name="grading" class="" value=2>
        </div>

        <div class="ud-pd-md">
          <span class="right-pd-sm weight-heavy">收获多少</span>
          <span class="btn-flat btn-grey">很多</span>
          <span class="btn-flat btn-grey">一般</span>
          <span class="btn-flat btn-grey">没有</span>
          <input type="hidden" name="gain" class="" value=2>
        </div>

        <div class="ud-pd-sm">
          <span class="weight-heavy">评个分吧？</span>
          <span class="blue">
            <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
            <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
            <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
            <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
            <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true" ></span>
            <span class="rl-pd-sm h4">8.5</span>
          </span>
        </div>
      </div>
      <div class="ud-pd-sm">
          <!--占位 评分 rate 实际中应该为hiddern-->
          <input type="hidden" name="rate" class="" value=8>
      </div>

      <div class="container-md desktop">
        <h4 class="grey">说几句吧！</h4>
        <div class="ud-pd-sm">
          <textarea id="content-editor" name="content"></textarea>
        </div>
        <button type="submit" class="btn btn-blue btn-flat float-right shadow">发布</button>
        <div class="ud-pd-lg"></div>
      </div>

      <div class="container mobile">
        <h4 class="grey">说几句吧！</h4>
        <div class="ud-pd-sm">
          <textarea type="text" class="form-control" rows="8" id="inputDescription"></textarea>
        </div>
        <button type="submit" class="btn btn-blue float-right">发布</button>
        <div class="ud-pd-lg"></div>
      </div>


    </form>
  </div>
</div>
{% endblock %}

{% block script %}
{% include 'ckeditor.html' %}
{% endblock %}
