{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="row float-element">
    <div class="inline-h3">
    <span class="blue h4">{% if not is_new %}编辑{% endif %}点评 &bull; <a href="{{ url_for('course.view_course', course_id=course.id) }}">{{ course.name }}{% if course.teachers %}（{{ course.teacher_names_display }}）{% endif %}</a></span>
    <span class="align-bottom left-pd-sm desktop">学期：{{ review.term|term_display }} &nbsp;课程号：{{ course.courseries }}</span>
    <br><span class="align-bottom mobile">学期：{{ review.term|term_display }} &nbsp;课程号：{{ course.courseries }}</span>
    </div>
    <hr>
    {% if message != '' %}
    <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
    <form id="review-form" class="form-horizontal" method="post" action="{{ url_for('course.new_review', course_id=course.id) }}">
      {{ form.csrf_token }}
      <div class="rate-part ud-pd-md">
        <div class="ud-pd-sm">
          <span class="right-pd-sm weight-heavy">学　　期</span>

          <select name="term">
            {% set joined_term = course.joined_term() %}
            {% for term in course.term_ids %}
              <option value="{{ term }}" {% if review.term == term or ((not review.term or review.term not in course.term_ids) and joined_term == term) %}selected="selected"{% endif %}>{{ term|term_display }}
              {% if joined_term == term %}(学过){% endif %}
              </option>
            {% endfor %}
          </select>
          <span class="clearfix"></span>
        </div>

        {% for poll in polls %}
        <div class="ud-pd-sm">
          <span class="right-pd-sm weight-heavy">{{ poll['display'] }}</span>
          <div class="btn-group btn-group-inv" data-toggle="buttons">
            {% for option in poll['options'] %}
            <label class="btn btn-flat btn-grey rl-mg-sm {% if review[poll['name']] == loop.index %}active{% endif %}">
                <input type="radio" name="{{ poll['name'] }}" autocomplete="off" value="{{ loop.index }}" {% if review[poll['name']] == loop.index %}checked{% endif %}>
                {{ option }}
            </label>
            {% endfor %}
          </div>
        </div>
        {% endfor %}

        <link rel="stylesheet" href="/static/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css">
        <div class="ud-pd-sm">
          <span class="weight-heavy pull-left">评个分吧？</span>
          <input id="rate-star" name="rate" value="{{ review.rate / 2.0 if review.rate else 0 }}">
          <span class="clearfix"></span>
        </div>
      </div>

      <div class="container-md desktop">
        <h4 class="grey">说几句吧！</h4>
        <div class="ud-pd-sm">
          <textarea id="content-editor" name="content">{% if review.content %}{{ review.content|safe }}{% endif %}</textarea>
        </div>
        <button type="submit" class="btn btn-blue btn-flat float-right shadow">发布</button>
        <div class="ud-pd-lg"></div>
      </div>

      <div class="container mobile">
        <h4 class="grey">说几句吧！</h4>
        <div class="ud-pd-sm">
          <input type="hidden" name="is_mobile" value="1">
          <textarea type="text" class="form-control" rows="8" name="content">{% if review.content %}{{ review.content_text }}{% endif %}</textarea>
        </div>
        <button type="submit" class="btn btn-blue float-right">发布</button>
        <div class="ud-pd-lg"></div>
      </div>


    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/star-rating.min.js" type="text/javascript"></script>
<script>
$('#rate-star').rating({
    min: 0,
    max: 5,
    step: 0.5,
    size: "xs",
    showClear: false,
    glyphicon: false,
    ratingClass: 'glyphicon glyphicon-star',
    starCaptions: function(val) {
        return val*2;
    },
    starCaptionClasses: function(val) {
        return "blue";
    },
});

$(function(){
    // remove desktop/mobile-only elements to avoid name conflicts
    if ($('.desktop').css('display') == 'none') {
        $('.desktop').remove();
    }
    if ($('.mobile').css('display') == 'none') {
        $('.mobile').remove();
    }

    $('#review-form').submit(function(e) {
            if ($('input[name=difficulty]:radio:checked').length == 0) {
                e.preventDefault();
                alert('请选择课程难度！');
                return;
            }
            if ($('input[name=homework]:radio:checked').length == 0) {
                e.preventDefault();
                alert('请选择作业多少！');
                return;
            }
            if ($('input[name=grading]:radio:checked').length == 0) {
                e.preventDefault();
                alert('请选择给分好坏！');
                return;
            }
            if ($('input[name=gain]:radio:checked').length == 0) {
                e.preventDefault();
                alert('请选择收获多少！');
                return;
            }
            if ($('input[name=rate]').val() <= 0 || $('input[name=rate]').val() > 5) {
                e.preventDefault();
                alert('请评分！');
                return;
            }
            if ($('textarea[name=content]').val().trim().length < 10) {
                e.preventDefault();
                alert('点评内容太短啦！');
                return;
            }
            /*
            // mobile device: to HTML
            if ($('.mobile').length > 0) {
                var content = $('textarea[name=content]').val();
                var lines = content.split('\n');
                var newcontent = '';
                for (var i in lines) {
                    var line = lines[i];
                    if (line.trim().length == 0)
                        continue;
                    else {
                        line = line.replace(/ /g, "&nbsp;");
                        newcontent += '<p>' + line + '</p>\n';
                    }
                }
                console.log(newcontent);
                $('textarea[name=content]').val(newcontent);
            }
            */
            $('input[name=rate]').val(Math.round($('input[name=rate]').val() * 2));
    });
});
</script>
{% include 'ckeditor.html' %}
{% endblock %}
