{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="row float-element">


    <div class="bm-pd-lg">
        <h3 class="blue">全部消息</h3>
        
        {% if notifications|length == 0 %}
        <p>还没有消息哦！</p>
        {% endif %}

        {% for notification in notifications %}
        {% if notification.display_text %}
        <div class="ud-pd-md dashed">
            {{ notification.display_text }}
            <span class="small grey align-bottom  float-right">{{ notification.time|localtime }}</span>
        </div>
        {% endif %}
        {% endfor %}
    </div>


  </div><!-- end float-element -->
</div><!-- end container -->
{% endblock %}
