{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="row float-element">

    <div class="col-md-8">
      <div class="bm-pd-lg">
        <div class="inline-h3">
          <a href="{{ url_for('user.reviews', user_id=user.id) }}">
             <span class="blue h4"><strong>点评</strong></span>
              （{{ user.reviews_count }}门）</a>

          {% if user.reviews_count > 3 %}
          <span class="float-right"><a href="{{ url_for('user.reviews', user_id=user.id) }}">查看更多 &raquo;</a></span>
          {% endif %}
        </div>

        {% if user.reviews_count == 0 %}
        <p class="text-muted">快去写点评吧～</p>
        {% endif %}

        {% for review in user.reviews[0:3] %}
          {% if not review.is_hidden or current_user.is_admin or current_user == user %}
        <!-- profile页面最多显示3条点评 -->
        <div class="ud-pd-md dashed">
          <div class="ud-pd-sm">
            {% set course = review.course %}
            <a href="{{ url_for('course.view_course', course_id=course.id) }}">{{ course.name }}{% if course.teachers %}（{{ course.teacher_names_display }}）{% endif %}</a>
            <span class="small grey align-bottom left-pd-sm">{{ review.term_display }}</span>
            <span class="text-muted small float-right desktop localtime" style="display: none;">{{ review.update_time|utctime }}</span>
          </div>
          {% include 'review-hidden.html' %}
          <p class="dark-grey">{{ review.content|abstract }}
            <a href="{{ url_for('course.view_course', course_id=course.id) }}#review-{{ review.id }}"> >>{{ _('更多') }}</a>
          </p>
        </div>
          {% endif %}
        {% endfor %}
      </div><!-- end bm-pd-lg -->

      <div class="bm-pd-lg">
        <div class="inline-h3">
          <a href="{{ url_for('user.follow_course', user_id=user.id) }}">
             <span class="blue h4"><strong>关注</strong></span>
              （{{ user.courses_following_count }}门）</a>

          {% if user.courses_following_count > 6 %}
          <span class="float-right"><a href="{{ url_for('user.follow_course', user_id=user.id) }}">查看更多 &raquo;</a></span>
          {% endif %}
        </div>

        {% if user.courses_following_count == 0 %}
        <p class="text-muted">可以关注喜欢的课程哦！</p>
        {% endif %}

        {% for course in user.courses_following[0:6] %}
        <!-- 关注课程最多显示6门 -->
        <div class="ud-pd-md dashed">
          <a href="{{ url_for('course.view_course', course_id=course.id) }}">{{ course.name }}{% if course.teachers %}（{{ course.teacher_names_display }}）{% endif %}</a>
	  {% if course.introduction %}
	  <span class="label label-danger">课程简介</span>
	  {% endif %}
	  {% if course in user.courses_joined %}
          <span class="label label-info">已学过</span>
          {% endif %}
        </div>
        {% endfor %}

      </div>


      {% if user.is_student and user.info %}
      <div class="bm-pd-lg">
        <div class="inline-h3">

          {% if user.info.sno %}
          <a href="{{ url_for('user.join_course', user_id=user.id) }}">
            <span class="blue h4"><strong>学过</strong></span>
              （{{ user.classes_joined_count }}门）</a>
          {% else %}
          <span class="blue h4"><strong>学过</strong></span>
          <span class="text-muted">（绑定学号才能显示学过课程）</span>
          {% endif %}
          {% if user.classes_joined_count > 6 %}
          <span class="float-right"><a href="{{ url_for('user.join_course', user_id=user.id) }}">查看更多 &raquo;</a></span>
          {% endif %}
        </div>

        {% if user.classes_joined_count == 0 %}
        <p class="text-muted">还没有学过的课程呢。</p>
        {% endif %}
        {% if not current_user.is_authenticated %}
        <p class="text-muted">为保护隐私，您需要 <a data-toggle="modal" data-target="#signin">登录</a> 才能查看已学课程。</p>
        {% else %}
        {% for course_class in user.classes_joined[0:6] %}
        {% if course_class.course_id %}
        <!-- 学过课程最多显示6门 -->
        <div class="ud-pd-md dashed">
          <a href="{{ url_for('course.view_course', course_id=course_class.course_id) }}">{{ course_class.course.name }}{% if course_class.course.teachers %}（{{ course_class.course.teacher_names_display }}）{% endif %}</a>
          {% if user != current_user and course_class.course.reviewed_by(user) %}
          <span class="label label-success">TA已点评</span>
          {% endif %}
          {% if course_class.course.reviewed_by(current_user) %}
          <span class="label label-success">我已点评</span>
          {% endif %}
          <span class="small grey align-bottom  float-right">{{ course_class.term|term_display }}</span>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>
      {% endif %}



    </div><!-- end col-md-8 -->



    <div class="col-md-4 right-col">
      <div class="ud-pd-md dashed">
	<img class="avatar-lg circle" src="{{ user.avatar }}"/>
	<h3 class="blue">{{ user.username }}</h3>
      {% if user.is_admin %}<span class="label label-success px14">管理员</span>{% endif %}
      {% if user.is_teacher %}<span class="label label-success px14">老师</span>{% endif %}
        <ul class="list-unstyled dark-grey">
          <li class="ud-pd-sm">简介：{{ user.description }}</li>
          <li class="ud-pd-sm" style="overflow:hidden">博客：
            {% if user.homepage and user.homepage != 'http://' %}
            <a href="{{ user.homepage }}">
              <span class="glyphicon glyphicon-link" aria-hidden="true"></span> {{ user.homepage }}
            </a>
            {% else %}
            暂无
            {% endif %}
          </li>
	  {% if user != current_user  %}
          <div id="action-btn-group" class="ud-pd-sm">
            <button style="display:none" onclick="follow_user({{ user.id }})" class="btn btn-white btn-flat btn-follow"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> 关注</button>
            <button style="display:none" onclick="unfollow_user({{ user.id }})" class="btn btn-blue btn-flat btn-unfollow"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 已关注</button>
          </div>
	  {% endif %}
        </ul>
      </div>

      <div class="ud-pd-md dashed">
        <ul class="list-unstyled dark-grey">
            <li class="ud-pd-sm">关注了 <strong><a href="{{ url_for('user.followings', user_id=user.id) }}">{{ user.following_count }}</a></strong> 人</li>
            <li class="ud-pd-sm">被关注 <strong><a href="{{ url_for('user.followers', user_id=user.id) }}">{{ user.follower_count }}</a></strong> 人</li>
            <li class="ud-pd-sm">关注了 <strong><a href="{{ url_for('user.follow_course', user_id=user.id) }}">{{ user.courses_following_count }}</a></strong> 门课程</li>
            <li class="ud-pd-sm">点评了 <strong><a href="{{ url_for('user.reviews', user_id=user.id) }}">{{ user.reviews_count }}</a></strong> 门课程</li>
        </ul>
      </div>

    </div><!-- end col-md-4 -->
  </div><!-- end float-element -->
</div><!-- end container -->
{% endblock %}
{% block script %}
<script>
$(function() {
    {% if current_user.is_authenticated and current_user.following(user) %}
    $('.btn-unfollow').show();
    {% else %}
    $('.btn-follow').show();
    {% endif %}
});

function follow_user(user_id) {
    $.post("{{ url_for('api.follow_user') }}", { user_id: user_id }, function(o) {
        if (o.ok) {
            $('.btn-follow').hide();
            $('.btn-unfollow').show();
        }
        else
            alert('关注用户失败：' + o.message);
    }, 'json');
}

function unfollow_user(user_id) {
    $.post("{{ url_for('api.unfollow_user') }}", { user_id: user_id }, function(o) {
        if (o.ok) {
            $('.btn-unfollow').hide();
            $('.btn-follow').show();
        }
        else
            alert('取消关注用户失败：' + o.message);
    }, 'json');
}
</script>
{% endblock %}
