{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="row float-element">
    <div class="col-md-8">
      <h4 class="blue">关注课程</h4>
      <hr>
      
      <h4 class="blue">点评</h4>
      <hr>
    </div>
    <div class="col-md-4 user-intro">
      <img class="avatar-lg cicle" src="/static/avatar.jpg"/>
      <h3 class="blue">jenny42</h3>
      <p>物理学院大一、LUG成员</p>
      <p>个人博客： <a href="http://jenny42.com">jenny42.com</a></p>
    </div>
  </div>
</div>

{% endblock %}