{% extends "layout-simple.html" %}
{% block content %}

    <div class="container">
        <div class="row float-element">

            {{ error }}

            <h3 class="blue">投诉点评的流程</h3>
            <hr>
            <div class="dark-grey desktop-width75">
                <div class="ud-pd-sm"><span class="text-muted">发布于 2022年3月23日</span></div>
                <div class="ud-pd-sm">
                    <p>如果您发现评课社区上有违反<a href="/community-rules/">社区规范</a>的课程点评，请在<a href="https://xjtu.live" target="_blank">xjtu.live</a>站内发送投诉给admin。请认真阅读本页面的内容，我们将按照以下流程来处理您的投诉。请不要通过其他方式联系我们，包括但不限于联系管理员的私人邮箱、QQ、微信、电话。
                    </p>
                </div>


                <div class="ud-pd-sm">
                    <h4 class="blue">投诉邮件的内容</h4>
                    <p>投诉课程点评的邮件里应该至少包含以下三个部分</p>
                    <ul class="list-unstyled lh-lg">
                        <li>1. 您投诉的课程点评的截图或者链接。</li>
                        <li>2. 指出该点评违反了哪一条社区规范。</li>
                        <li>3. 指出该点评中哪些部分、哪些词违反了上述的社区规范，也就是您的申诉理由。</li>
                        <li>4. 其他您觉得有帮助的内容（非必要）。</li>
                    </ul>
                </div>

                <div class="ud-pd-sm lh-lg">
                    <h4 class="blue">投诉邮件的注意事项</h4>
                    <ul class="list-unstyled lh-lg">
                        <li>1. 投诉应该针对具体的一条或者几条课程点评，而不能是某一门课程下的所有点评。</li>
                        <li>2. 课程的负面评论，您看着碍眼的内容，没有实质内容的低质量点评，这些都不是删除课程点评的理由。
                        </li>
                        <li>3. 如果投诉邮件不包含完整的三个部分内容，将会延长这封投诉邮件的处理时间。</li>
                    </ul>
                </div>

                <div class="ud-pd-sm">
                    <h4 class="blue">确认邮件</h4>
                    <p>
                        投诉邮件发送成功后，您将会在48小时内收到我们的确认邮件，确认您的投诉已经被收到，并且已经开始处理。若在48个小时内还没有收到确认邮件，表明您的邮件未引起我们的注意，请再次向我们发送投诉邮件。</p>
                </div>

                <div class="ud-pd-sm">
                    <h4 class="blue">投诉内容的判定</h4>
                    <p>
                        收到投诉邮件后，评课社区管理团队会在第一时间阅读您投诉的课程点评，逐一讨论并判断该点评是否违反了社区规范。判定结果会有三种情况：</p>
                    <p><b>情况1</b>: 如果判定该点评违反了社区规范，我们将会按顺序执行以下三个操作</p>
                    <ul class="list-unstyled lh-lg">
                        <li>1. 将点评从网站上屏蔽，被屏蔽的点评只有管理员和作者本人可见。</li>
                        <li>2. 给点评作者发送邮件，通知其点评因违反社区规范被屏蔽。</li>
                        <li>3. 回复您的投诉邮件，通知您我们对被投诉点评的判定。</li>
                    </ul>

                    <p><b>情况2</b>: 如果判定该点评没有违反社区规范，我们会回复您的投诉邮件，但不会屏蔽该点评，也不会通知点评作者。
                    </p>

                    <p><b>情况3</b>: 如果管理团队对您投诉的点评是否违反社区规范无法达成一致意见，我们将</p>
                    <ul class="list-unstyled lh-lg">
                        <li>1. 保留该点评。</li>
                        <li>2. 回复您的投诉邮件，通知您我们对您的投诉无法达成一致意见。</li>
                        <li>3. 给点评作者发送邮件，通知其点评可能存在问题，但不会强制要求修改。</li>
                    </ul>
                </div>

                <div class="ud-pd-sm">
                    <h4 class="blue">投诉的处理时间</h4>
                    <p>
                        评课社区目前是由几位志愿者利用业余时间来维护和管理的，因此处理投诉邮件需要一些时间，希望您能理解。一般情况下（上述的情况1和情况2），投诉邮件会在3天内得到处理，特殊情况下（如您投诉的点评数量比较多，或上述的情况3）投诉邮件会在7天内得到处理。投诉邮件处理时间的计算，是从您收到确认邮件的时间开始（而不是您发送投诉邮件的时间），到我们发送投诉点评的判定邮件结束。</p>
                    <p>
                        在我们回复您的投诉邮件之前，请您耐心等待。在此期间，您可以补充发送一些您觉得可以帮助我们做判断的内容，适当的时候发送一封邮件提醒我们，但不要给我们发送包含谩骂、威胁的邮件来催促我们。</p>
                </div>

                <div class="ud-pd-sm">
                    <h4 class="blue">被屏蔽点评的修改与再发布</h4>
                    <p>若点评作者收到了评课社区屏蔽点评的通知后修改了原点评内容，点评作者可以在<a href="https://xjtu.live" target="_blank">xjtu.live</a>内发送投诉给admin
                        请求取消屏蔽。管理团队如果认为修改后的点评符合社区规范，将取消屏蔽。取消屏蔽再次发布的点评将被视作一条新的点评，对该点评的投诉将视作新的投诉，而需要重新开始整个流程。</p>
                </div>

                <div class="ud-pd-sm">
                    <h4 class="blue">对判定结果的申诉</h4>
                    <p>
                        收到我们对被投诉点评的判定邮件后，您如果感到不满意，可以再次发邮件向我们提出申诉。但您的申诉邮件不一定会得到处理。除非被投诉点评内容发生了改变，或者您提供了更加充分的理由，否则一般我们不会对申诉进行再次讨论和判定，而会维持之前的处理结果。</p>
                </div>

            </div>
        </div><!-- end float-element -->
    </div><!-- end container -->
{% endblock %}

{% block script %}
{% endblock %}
