{% extends "layout-simple.html" %}
{% block content %}

<div class="container">
  <div class="row float-element">

    {{ error }}

    <h3 class="blue">Reset Password</h3>
    <hr>

    <form class="form-horizontal" method="post">
        {{ form.csrf_token }}
      <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-4">
          <input name="password" type="password" class="form-control" id="inputPassword" >
        </div>
      </div>
    <div class="form-group">
        <label for="inputConfirmPassword" class="col-sm-2 control-label">Confirm Password</label>
        <div class="col-sm-4">
          <input type="password" name="confirm_password" class="form-control" id="inputConfirmPassword" >
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-blue">Submit</button>
        </div>
      </div>
    </form>


  </div>
</div>

{% endblock %}


