{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="float-element">
    <p class="blue h3">点评 &bull; 多变量微积分</p>
    <hr>
    <div class="rate-part">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="" class="col-sm-2 control-label">课程难度:</label>
          <div class="col-sm-3">
            <button class="btn btn-default" type="submit">简单</button>
            <button class="btn btn-default" type="submit">中等</button>
            <button class="btn btn-default" type="submit">困难</button>
          </div>
        </div>

        <div class="form-group">
          <label for="" class="col-sm-2 control-label">睡眠指数:</label>
          <div class="col-sm-3">
            <button class="btn btn-default" type="submit">清醒</button>
            <button class="btn btn-default" type="submit">时睡时醒</button>
            <button class="btn btn-default" type="submit">催眠</button>
          </div>
        </div>

        <div class="form-group">
          <label for="" class="col-sm-2 control-label">给分好坏:</label>
          <div class="col-sm-3">
            <button class="btn btn-default" type="submit">超好</button>
            <button class="btn btn-default" type="submit">厚道</button>
            <button class="btn btn-default" type="submit">杀手</button>
          </div>
        </div>

        <div class="form-group">
          <label for="" class="col-sm-2 control-label">是否推荐:</label>
          <div class="col-sm-3">
            <button class="btn btn-default" type="submit">推荐</button>
            <button class="btn btn-default" type="submit">无所谓</button>
            <button class="btn btn-default" type="submit">大坑</button>
          </div>
        </div>

        <!-- 这里样式还要改 先提交了 -->
      </form>
    </div>
    <div class="edit-part">
      <p>这里需要一个编辑框</p>
    </div>
  </div>
</div>
{% endblock %}