            {% if review.is_hidden %}
              {% if current_user.is_admin %}
                <div class="alert alert-danger" role="alert">管理员信息：此点评经举报，已被屏蔽，仅作者和管理员可见。</div>
              {% endif %}
              {% if review.author == current_user %}
                <div class="alert alert-danger" role="alert">您的点评涉嫌违反 <a href="https://icourse.club/community-rules/" target="_blank">社区规则</a>，经朝阳群众举报，已被屏蔽。如需解除屏蔽，请修改后联系 service@icourse.club。</div>
              {% endif %}
            {% endif %}
