{% extends "layout.html" %}
{% block content %}

<div class="container"">
  <div class="float-element">
    <span class="text-muted"> 搜索"{{ keyword }}"的结果</span>
    <hr>

    {% for course in courses %}
    <div class="ud-pd-md dashed">
      <div class="row">
        <div class="col-md-1 col-xs-2">
          <div class="rate-box">23</div>
        </div>
        <div class="col-md-2 desktop" style="text-align: center">
          <img class="avatar-lg cicle" src="/static/image/lijuan.jpg"/>
        </div>
        <div class="col-md-8 col-xs-10">
          <span class="h4">{{ course.name }}（{{ course.teacher.name }}）</span>
          <span class="small grey align-bottom left-pd-sm desktop">学期：{{ course.term_display }} &nbsp;课堂号：{{ course.cno }}</span>
          <br><span class="small grey align-bottom mobile">学期：{{ course.term_display }} &nbsp;课堂号：{{ course.cno }}</span>
          <div class="ud-pd-sm blue">
            <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
            <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
            <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
            <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
            <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true" ></span>
            <span class="rl-pd-sm h4">8.5</span><span class="rl-pd-sm text-muted">(8人评价)</span>
          </div>
          <ul class="text-muted list-inline list-unstyled">
            <li class="right-mg-md">课程难度：困难</li>
            <li class="right-mg-md">睡眠指数：中等</li>
            <li class="right-mg-md">给分好坏：暂无</li>
            <li class="right-mg-md">收获大小：一般</li>
          </ul>
          <p>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div><!-- /.container -->
{% endblock %}

{% block script %}
{% endblock %}