{% extends "layout.html" %}
{% block content %}

<div class="container"">
  <div class="float-element">
    <span class="text-muted"> 搜索「{{ keyword }}」的结果 <span class="small"> > 共 {{ courses.total }} 门课</span></span>
    <hr>

    {% for course in courses.items %}
    <div class="ud-pd-md dashed">
      <div class="row">
        <div class="col-md-1 col-xs-2">
          <div class="rate-box">{{ course.upvote_count }}</div>
        </div>
        <div class="col-md-8 col-xs-10">
          <a class="px16" href={{ url_for('course.view_course', course_id=course.id) }}>{{ course.name }}（{{ course.teacher.name }}）</a>
          <span class="small grey align-bottom left-pd-sm desktop">学期：{{ course.term_display }} &nbsp;课堂号：{{ course.cno }}</span>
          <br><span class="small grey align-bottom mobile">学期：{{ course.term_display }} &nbsp;课堂号：{{ course.cno }}</span>
          {% if course.review_count %}
          <div class="ud-pd-sm blue">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            {% if course.rate.average_rate > 2 %}
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            {% else %}
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            {% endif %}
            {% if course.rate.average_rate > 4 %}
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            {% else %}
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            {% endif %}
            {% if course.rate.average_rate > 6 %}
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            {% else %}
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            {% endif %}
            {% if course.rate.average_rate > 8 %}
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            {% else %}
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            {% endif %}
            <span class="rl-pd-sm h4">{{ course.rate.average_rate }}</span><span class="text-muted px12">({{ course.review_count }} 人评价)</span>
          </div>
          <ul class="text-muted list-inline list-unstyled">
              <li class="right-mg-md">课程难度：{{ course.rate.difficulty }}</li>
              <li class="right-mg-md">作业多少：{{ course.rate.homework }}</li>
              <li class="right-mg-md">给分好坏：{{ course.rate.grading }}</li>
              <li class="right-mg-md">收获大小：{{ course.rate.gain }}</li>
          </ul>
          {% else %}
          <div class="ud-pd-sm blue">
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            <span class="rl-pd-sm h4"><span class="text-muted px12">还没有人评价此课程</span>
          </div>
          <ul class="text-muted list-inline list-unstyled">
              <li class="right-mg-md">课程难度：你猜</li>
              <li class="right-mg-md">作业多少：你猜</li>
              <li class="right-mg-md">给分好坏：你猜</li>
              <li class="right-mg-md">收获大小：你猜</li>
          </ul>
          {% endif %}
          <p>
        </div>
      </div>
    </div>
    {% endfor %}

    <nav>
      <ul class="pagination">
        {% if courses.has_prev %} 
        <li>
            <a href="{{ url_for('home.search', q=keyword, page=courses.prev_num) }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% else %} 
        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        {% endif %}
        
        {% for page in courses.iter_pages(left_edge=1, right_edge=1) %}
            {% if page == courses.page %}
            <li class="active"><a href="#">{{ page }}<span class="sr-only">(current)</span></a></li>
            {% elif page %}
            <li><a href="{{ url_for('home.search', q=keyword, page=page) }}">{{ page }}</a></li>
            {% else %}
            <li><a>...</a></li>
            {% endif %}
        {% endfor %}

        {% if courses.has_next %}
        <li>
          <a href="{{ url_for('home.search', q=keyword, page=courses.next_num) }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>

  </div>
</div><!-- /.container -->
{% endblock %}

{% block script %}
{% endblock %}
