{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="row float-element">

    <h2 class="blue">Accout Settings</h2>
    <hr>
    <form class="form-horizontal ud-pd-md" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
      <div class="form-group">
        <label class="col-sm-2 control-label">Profile picture</label>
        <div class="col-sm-5">
            <img class="avatar-lg cicle rl-mg-md" src="{{ user.avatar }}"/>
          <button class="btn btn-grey radius4">Upload Now</button>
          <input type="file" name="avatar">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Username</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" value="{{form.username.data}}" name="username">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">USTC Email</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" value="{{user.email}}" disabled>
        </div>
      </div>


      <div class="form-group">
        <label for="inputDescription" class="col-sm-2 control-label">About Me</label>
        <div class="col-sm-5">
            <textarea type="text" class="form-control" rows="3" id="inputDescription" name="description" {%- if form.description.data %} >{{ form.description.data }} {% else %} placeholder="Description">{% endif %}</textarea>
        </div>
      </div>


      <div class="form-group">
        <label class="col-sm-2 control-label">Website</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="homepage" {%- if form.homepage.data %}value="{{ form.homepage.data }}"{% else %}placeholder="homepage"{% endif %}>
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-2">
          <button type="submit" class="btn btn-blue btn-block">Update profile</button>
        </div>
      </div>
    </form>

    <h2 class="blue">Change Password</h2>
    <hr>
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label">Change Password</label>
        <div class="col-sm-5">
          <a class="btn btn-link" href="{{ url_for('home.change_password') }}">Send Email to change password</a>
        </div>
      </div>

    </div> <!-- end float-element -->
  </div> <!-- end container -->

  {% endblock %}
