{% extends "layout-simple.html" %}
{% block content %}

    <div class="container">
        <div class="row float-element">

            {% if error %}
                <!-- error message display -->
                <div class="row">
                    <div class="alert alert-danger col-sm-6" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        {{ error }}
                    </div>
                </div>
            {% endif %}

            <h3 class="blue">登录</h3>
            <hr>

            {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                    <div class="alert alert-info">{{ message }}</div>
                {% endfor %}
            {% endwith %}

            <form class="form-horizontal" method='post' action='/signin/'>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> 记住我
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <button type="submit" class="btn btn-blue btn-block">使用交大門账户登录</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $('#inputEmail').focus();
    </script>
{% endblock %}
