{% extends "layout-simple.html" %}
{% block content %}

    <div class="container">
        <div class="row float-element">

            {% if error %}
                <!-- error message display -->
                <div class="row">
                    <div class="alert alert-danger col-sm-6" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        {{ error }}
                    </div>
                </div>
            {% endif %}

            <h3 class="blue">使用交大账户登录</h3>
            <hr>

            {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                    <div class="alert alert-info">{{ message }}</div>
                {% endfor %}
            {% endwith %}

            <form class="form-horizontal" method='post' action='/signin/'>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                                                <p>如果您已在交大网站<strong>登录</strong>，点击登录按钮将<em>直接</em>使用您的交大账户登录评课社区</p>

                                                <p>如果您尚未登录/注册交大账户，点击登录按钮将跳转到交大网站进行登录/注册</p>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> 不要记住我（浏览器退出后也将退出评课社区登录）
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <button type="submit" class="btn btn-blue btn-block">登录</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $('#inputEmail').focus();
    </script>
{% endblock %}
