{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="row float-element">

    {{ error }}

    <h3 class="blue">写点评送书</h3>
    <hr>
    <div class="dark-grey desktop-width75">
      <div class="ud-pd-sm">
        <h4 class="blue">活动规则</h4>
        <p>在USTC评课社区，点评任一门课程，获得至少10个赞，免费赠送一本书！共25本，送完为止！</p>	
      </div>

      <div class="ud-pd-sm">
        <h4 class="blue">领取方式</h4>
          <p>320楼的女生可以到401宿舍挑选，其他同学可以联系张静宁，联系暗号：写点评送书</p>
        <ul class="list-unstyled lh-lg">
          <li>QQ：331410741</li>
	  <li>微信号：jingning42</li>
          <li>手机：18133659636</li>
        </ul>
      </div>


      <div class="ud-pd-sm lh-lg">
        <h4 class="blue">书籍</h4>
	<p>主要有数学专业和托福考试方面的书籍，数学类书籍大部分是全新的</p>
      </div>

      <div class="ud-pd-sm lh-lg">
        <h4 class="blue">书籍捐赠</h4>
	<p>如果你希望USTC评课社区有更多的点评，也欢迎给我们捐书，所有捐赠书籍都将作为用户写点评的奖品。
	<br>联系邮箱：service@icourse.club</p>
      </div>


    </div>
  </div><!-- end float-element -->
</div><!-- end container -->
{% endblock %}

{% block script %}
{% endblock %}
