{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="row float-element">

    <div class="col-md-8">
      <div class="bm-pd-lg">
        <div class="inline-h3">
          <span class="blue h4"><strong>{{teacher.name}}老师的课程</strong></span>
        </div>

        {% if courses.total == 0 %}
        <p class="text-muted">该老师还没有开过课。</p>
        {% else %}
        <span class="text-muted"><span class="small">共 {{ courses.total }} 门（当前第 {{ courses.page }} 页）</span></span>
        {% include 'course-list.html' %}

        <nav>
          <ul class="pagination">
            {% if courses.has_prev %} 
            <li>
                <a href="{{ url_for('teacher.view_profile', teacher_id=teacher.id, page=courses.prev_num) }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {% else %} 
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            {% endif %}
            
            {% for page in courses.iter_pages(left_edge=1, right_edge=0) %}
                {% if page == courses.page %}
                <li class="active"><a href="#">{{ page }}<span class="sr-only">(current)</span></a></li>
                {% elif page %}
                <li><a href="{{ url_for('teacher.view_profile', teacher_id=teacher.id, page=page) }}">{{ page }}</a></li>
                {% else %}
                <li><a>...</a></li>
                {% endif %}
            {% endfor %}

            {% if courses.has_next %}
            <li>
              <a href="{{ url_for('teacher.view_profile', teacher_id=teacher.id, page=courses.next_num) }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>

        {% endif %}
      </div>



    </div><!-- end col-md-8 -->



    <div class="col-md-4 right-col">
        <div class="ud-pd-md dashed">
          <img class="avatar-lg cicle" src="{{ teacher.image }}"/>
          {% if current_user.is_admin %}
          <btn class="btn btn-link float-right"><a href="{{ url_for('teacher.edit_profile', teacher_id=teacher.id) }}">编辑教师信息</a></btn>
          {% endif %}
          <h3 class="blue">{{ teacher.name }}</h3>
          <p>{{ teacher.dept.name }}</p>
          <p>研究方向：{{ teacher.research_interest or '暂无' }}</p>
          <p>教师主页：
            {% if teacher.homepage and teacher.homepage != 'http://' %}
            <a href="{{ teacher.homepage }}" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> 戳这里</a>
            {% else %}暂无{% endif %}
          </p>
          <div class="ud-pd-md" style="display: none"><a>教师排行榜：23</a></div>
        </div>
    </div><!-- end col-md-4 -->
  </div><!-- end float-element -->
</div><!-- end container -->

{% endblock %}
