{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="row float-element">

    <div class="bm-pd-lg">
      <h3 class="blue">编辑教师信息</h3>
      <hr>
      <p><a href="{{ url_for('teacher.profile_history', teacher_id=teacher.id) }}">查看编辑历史（共 {{ teacher.info_history_count }} 次）</a></p>

      <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="form-group">
          <label class="col-sm-2 control-label">上传照片</label>
          <div class="col-sm-5">
            <img class="avatar-lg circle rl-mg-md" src="{{ teacher.image }}"/>
            <label class="btn btn-grey radius4 fileupload">
              <input type="file" name="avatar" onchange="$('#avatar-upload-btn').html('选择'); $('#avatar-upload-msg').show()"/>
              <span id="avatar-upload-btn">选择</span>
            </label>
            <button id="avatar-upload-msg" type="submit" class="btn btn-blue" style="display:none">上传</button>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">教师姓名</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" value="{{ teacher.name }}" disabled>
          </div>
        </div>


        <div class="form-group">
          <label class="col-sm-2 control-label">教师主页</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" name="homepage" {% if form.homepage.data %}value="{{ form.homepage.data }}"{% else %}placeholder="教师介绍网页"{% endif %}>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">教师研究方向</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" name="research_interest" {% if form.research_interest.data %}value="{{ form.research_interest.data }}"{% endif %}>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-2">
            <button type="submit" class="btn btn-blue btn-block">提交</button>
          </div>
        </div>
      </form>
    </div>
  </div> <!-- end float-element -->
</div> <!-- end container -->

{% endblock %}
