{% extends "layout.html" %}
{% block content %}

<div class="container"">

  <div class="float-element">
    <h2 class="blue">USTC评课社区</h2>
    <hr>
    <div class="ud-pd-md dashed">
      <div class="row">
        <div class="col-md-1">
          <div class="rate-box">23</div>
        </div>
        <div class="col-md-2" style="text-align: center">
          <img class="avatar-lg cicle" src="/static/image/lijuan.jpg"/>
          <h4>李娟</h4>
        </div>
        <div class="col-md-8">
          <span class="h4">多变量微积分</span>
          <span class="small grey align-bottom left-pd-sm">学期：2015春 &nbsp;课堂号：00151311</span>
          <div class="ud-pd-sm blue">
            <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
            <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
            <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
            <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
            <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true" ></span>
            <span class="rl-pd-sm h4">8.5</span><span class="rl-pd-sm text-muted">(8人评价)</span>
          </div>
          <ul class="text-muted list-inline list-unstyled">
          <li>课程难度：困难</li>
          <li>睡眠指数：中等</li>
          <li>给分好坏：暂无</li>
          <li>收获大小：一般</li>
          </ul>
          <p>
        </div>
      </div>
    </div>


        <div class="ud-pd-md dashed">
      <div class="row">
        <div class="col-md-1">
          <div class="rate-box">23</div>
        </div>
        <div class="col-md-2" style="text-align: center">
          <img class="avatar-lg cicle" src="/static/image/lijuan.jpg"/>
          <h4>李娟</h4>
        </div>
        <div class="col-md-8">
          <span class="h4">多变量微积分</span>
          <span class="small grey align-bottom left-pd-sm">学期：2015春 &nbsp;课堂号：00151311</span>
          <div class="ud-pd-sm blue">
            <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
            <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
            <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
            <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
            <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true" ></span>
            <span class="rl-pd-sm h4">8.5</span><span class="rl-pd-sm text-muted">(8人评价)</span>
          </div>
          <ul class="text-muted list-inline list-unstyled">
          <li>课程难度：困难</li>
          <li>睡眠指数：中等</li>
          <li>给分好坏：暂无</li>
          <li>收获大小：一般</li>
          </ul>
          <p>
        </div>
      </div>
    </div>


    
  </div>





</div><!-- /.container -->

{% endblock %}

{% block script %}
<script>
 $('#search').focus();
</script>
{% endblock %}