{% extends "layout.html" %}
{% block content %}

<div class="container"">

  <div class="float-element">
    <h2 class="blue">USTC评课社区</h2>
    <hr>
    <div class="ud-gap-md dashed">
      <a href="http://127.0.0.1/course/1/%E7%BA%BF%E6%80%A7%E4%BB%A3%E6%95%B0/"><span class="blue h4 right-gap-md">多变量微积分(李娟)</span></a>
      <span class="ud-gap-sm blue small">
        <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
        <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
        <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
        <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
        <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true" ></span>
        <span class="rl-gap-sm h4">8.5</span><span class="rl-gap-sm text-muted">(8人评价)</span>
      </span>
      <span class="small grey align-bottom left-gap-sm">学期：2015春 &nbsp;课堂号：00151311</span>
  </div>


      <div class="ud-gap-md dashed">
      <a href="http://127.0.0.1/course/1/%E7%BA%BF%E6%80%A7%E4%BB%A3%E6%95%B0/"><span class="blue h4 right-gap-md">多变量微积分(李娟)</span></a>
      <span class="ud-gap-sm blue small">
        <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
        <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
        <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
        <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
        <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true" ></span>
        <span class="rl-gap-sm h4">8.5</span><span class="rl-gap-sm text-muted">(8人评价)</span>
      </span>
      <span class="small grey align-bottom left-gap-sm">学期：2015春 &nbsp;课堂号：00151311</span>
  </div>



      <div class="ud-gap-md dashed">
      <a href="http://127.0.0.1/course/1/%E7%BA%BF%E6%80%A7%E4%BB%A3%E6%95%B0/"><span class="blue h4 right-gap-md">多变量微积分(李娟)</span></a>
      <span class="ud-gap-sm blue small">
        <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
        <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
        <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
        <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
        <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true" ></span>
        <span class="rl-gap-sm h4">8.5</span><span class="rl-gap-sm text-muted">(8人评价)</span>
      </span>
      <span class="small grey align-bottom left-gap-sm">学期：2015春 &nbsp;课堂号：00151311</span>
  </div>


      <div class="ud-gap-md dashed">
      <a href="http://127.0.0.1/course/1/%E7%BA%BF%E6%80%A7%E4%BB%A3%E6%95%B0/"><span class="blue h4 right-gap-md">多变量微积分(李娟)</span></a>
      <span class="ud-gap-sm blue small">
        <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
        <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
        <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
        <span class="glyphicon glyphicon-star glyphicon-lg" aria-hidden="true" ></span>
        <span class="glyphicon glyphicon-star-empty glyphicon-lg" aria-hidden="true" ></span>
        <span class="rl-gap-sm h4">8.5</span><span class="rl-gap-sm text-muted">(8人评价)</span>
      </span>
      <span class="small grey align-bottom left-gap-sm">学期：2015春 &nbsp;课堂号：00151311</span>
  </div>


  
</div><!-- /.container -->

{% endblock %}

{% block script %}
<script>
  $('#search').focus();
</script>
{% endblock %}