{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="row float-element">

      <div class="bm-pd-lg">
        <div class="inline-h3">
          <span class="blue h3">{{ user.username }} 点评</span>
          （{{ user.reviews_count }}门）
        </div>

        {% for review in user.reviews %}
        <div class="ud-pd-md dashed">
          <div class="ud-pd-sm">
            {% set course = review.course %}
            <a href="{{ url_for('course.view_course', course_id=course.id) }}">{{ course.name }}（{{ course.teacher.name or _('Unknown') }}）</a>
            <span class="small grey align-bottom left-pd-sm">学期：{{ review.term|term_display }}</span>
            <span class="text-muted small float-right desktop">{{ review.update_time|localtime }}</span>
          </div>
          <p class="dark-grey">{{ review.content|abstract }}
            <a href="{{ url_for('course.view_course', course_id=course.id) }}#review-{{ review.id }}"> >>{{ _('more') }}</a>
          </p>
        </div>
        {% endfor %}
      </div><!-- end bm-pd-lg -->
  </div><!-- end float-element -->
</div><!-- end container -->
{% endblock %}
